@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'), url('../fonts/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Light.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot');
  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot');
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'), url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'), url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'), url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}
.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}
.text_justify {
  text-align: justify !important;
}
.text_nowrap {
  white-space: nowrap !important;
}
.text_lowercase {
  text-transform: lowercase !important;
}
.text_uppercase {
  text-transform: uppercase !important;
}
.text_capitalize {
  text-transform: capitalize !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.mb_30 {
  margin-bottom: 30px !important;
}
.mb_40 {
  margin-bottom: 40px !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_60 {
  margin-bottom: 60px !important;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-21by9::before {
  padding-top: 42.85714286%;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive-4by3::before {
  padding-top: 75%;
}
.embed-responsive-1by1::before {
  padding-top: 100%;
}
.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 7px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #cbcbcb;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #272727;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn:focus,
.btn.focus {
  outline: 0;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.7rem;
    padding: 15px 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.btn_blue {
  background: #5291fb;
}
.btn_blue:hover {
  background: #272727;
}
@media (min-width: 1024px) {
  .btn_sm {
    font-size: 1.3rem;
    padding: 10px 30px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.btn_border {
  color: #b3b3b3;
  outline: none;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 10px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  border: 1px solid #dcdce0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn_border:hover {
  color: #232323;
  background: transparent;
  text-decoration: none;
  border-color: #232323;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn_border:focus,
.btn_border.focus {
  outline: 0;
}
.breadcrumb__mobile {
  display: block;
  margin-bottom: 15px;
}
.breadcrumb__mobile a {
  color: #232323;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.breadcrumb__mobile a i {
  top: -2px;
  font-size: 1rem;
  margin-right: 5px;
  position: relative;
}
.breadcrumb__mobile a:hover {
  color: #232323;
  text-decoration: none;
}
.breadcrumb__desktop {
  display: none;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.breadcrumb__desktop ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.breadcrumb__desktop ul li {
  color: #232530;
}
.breadcrumb__desktop ul li:after {
  content: '\f105';
  color: #c1c1c1;
  padding: 0 10px;
  font-family: FontAwesome;
}
.breadcrumb__desktop ul li a {
  color: #c1c1c1;
}
.breadcrumb__desktop ul li span {
  font-weight: 600;
}
.breadcrumb__desktop ul li:last-child:after {
  display: none;
}
@media (min-width: 1024px) {
  .breadcrumb__mobile {
    display: none;
  }
  .breadcrumb__desktop {
    display: block;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #232323;
  font-family: 'SF UI Display', Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h2,
.h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h3,
.h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h4,
.h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h5,
.h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h6,
.h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
p {
  margin: 0 0 1rem 0;
}
a {
  outline: none;
  color: #232323;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #232323;
  text-decoration: underline;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header__toggle {
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.header__toggle:after,
.header__toggle:before {
  left: 0;
  z-index: 10;
  content: '';
  width: 28px;
  height: 3px;
  position: absolute;
  display: inline-block;
  background: #0792fe;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__toggle:after {
  top: 4px;
}
.header__toggle:before {
  bottom: 3px;
}
.header__toggle span {
  left: 0;
  top: 50%;
  z-index: 10;
  width: 28px;
  height: 3px;
  margin-top: -1px;
  position: absolute;
  display: inline-block;
  background: #0792fe;
}
.header__logo {
  width: 164px;
  height: 36px;
  display: block;
  margin-top: 10px;
  background: url("../img/header__logo_xs.png") 50% 50% no-repeat;
}
.header__append {
  color: #fff;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  position: relative;
  white-space: nowrap;
  background: #0792fe;
  text-decoration: none;
  vertical-align: middle;
  padding: 10px 55px 10px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append i {
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  color: #fff;
  padding: 1px 0;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: -12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #0375ce;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:hover {
  color: #fff;
  background: #0375ce;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:hover i {
  background: #0792fe;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:active {
  background: #0792fe;
}
.header__append:active i {
  background: #0375ce;
}
.header__search {
  width: 360px;
  display: none;
}
.header__search_row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header__search_input {
  margin: 0;
  width: 100%;
  height: 40px;
  outline: none;
  color: #232530;
  background: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 9px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0792fe;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.header__search_input::-moz-placeholder {
  color: #b6b7b9;
  opacity: 1;
}
.header__search_input:-ms-input-placeholder {
  color: #b6b7b9;
}
.header__search_input::-webkit-input-placeholder {
  color: #b6b7b9;
}
.header__search_input:focus,
.header__search_input:active {
  outline: none;
  @include placeholder(transparent);
}
.header__search_button {
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  user-select: none;
  padding: 10px 30px;
  text-align: center;
  white-space: nowrap;
  background: #0792fe;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.header__search_button:hover {
  color: #fff;
  background: #0375ce;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__search_button:active {
  background: #0792fe;
}
@media (min-width: 1024px) {
  .header {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .header__row {
    height: 76px;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    width: 234px;
    height: 51px;
    margin-top: 5px;
    background-image: url("../img/header__logo.png");
  }
  .header__append {
    display: inline-block;
  }
  .header__search {
    display: block;
  }
}
@media (min-width: 1230px) {
  .header__search {
    width: 440px;
  }
}
.footer {
  color: #fff;
  padding: 15px 0;
  background: #5291fb;
}
.footer__logo {
  width: 172px;
  height: 37px;
  display: block;
  background: url("../img/footer__logo_sm.png") 50% 50% no-repeat;
}
.footer__nav {
  margin-bottom: 15px;
}
.footer__nav_title {
  color: #000;
  display: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer__nav_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav_menu > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3.6rem;
  text-decoration: none;
}
.footer__nav_menu > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__add {
  margin-bottom: 10px;
}
.footer__append {
  color: #000;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  position: relative;
  padding: 10px 30px;
  white-space: nowrap;
  background: #f4f4f4;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer__append i {
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  color: #fff;
  padding: 1px 0;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: -12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #5291fb;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer__append:hover {
  color: #000;
  background: #f4f4f4;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 55px;
    background: #f9f9f9;
    padding-bottom: 60px;
  }
  .footer__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .footer__append {
    display: none;
  }
  .footer__info {
    margin: 0;
    width: 320px;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .footer__nav {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }
  .footer__logo {
    width: 234px;
    height: 51px;
    background-image: url("../img/header__logo.png");
  }
  .footer__nav {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .footer__nav_group {
    width: 200px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .footer__nav_title {
    display: block;
  }
  .footer__nav_menu > li > a {
    color: #646a7c;
  }
  .footer__nav_menu > li > a:hover {
    color: #0792fe;
  }
}
@media (min-width: 1024px) {
  .footer__info {
    width: 400px;
  }
}
.footer_bottom {
  color: #fff;
  display: none;
  padding: 16px 0;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  background: #0792fe;
}
.footer_bottom a {
  color: #fff;
  text-decoration: none;
}
.footer_bottom a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer_bottom__right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.footer_bottom .counter {
  font-size: 0;
  line-height: 0;
  padding: 0 3px;
  display: inline-block;
}
.footer_bottom__right {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .footer_bottom {
    display: block;
  }
}
@media (min-width: 1024px) {
  .footer_bottom {
    text-align: left;
  }
  .footer_bottom__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .footer_bottom__right {
    padding-top: 0;
    margin-right: -2px;
  }
}
.nav_mobile {
  top: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  z-index: 1500;
  position: fixed;
  background: #fff;
  overflow-y: auto;
  padding: 15px 0;
  margin-right: -300px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_mobile > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_mobile > ul > li > a {
  width: 100%;
  color: #0792fe;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
}
.nav_mobile > ul > li > a:hover {
  color: #0792fe;
  text-decoration: none;
}
.nav_mobile > ul > li > a i {
  margin-left: 5px;
}
@media (min-width: 768px) {
  .nav_mobile {
    width: 400px;
    margin-right: -430px;
  }
}
@media (min-width: 1024px) {
  .nav_mobile {
    display: none;
  }
}
.nav_open .nav_mobile {
  margin-right: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_open .header__toggle span {
  opacity: 0;
  visibility: hidden;
}
.nav_open .header__toggle:after {
  top: 13px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_open .header__toggle:before {
  bottom: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav {
  color: #fff;
  display: none;
  z-index: 1000;
  position: relative;
  background: #0792fe;
}
.nav__container {
  height: 50px;
  position: relative;
}
.nav__line {
  z-index: 30;
  display: none;
  position: relative;
}
.nav__line > ul {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.nav__line > ul > li > a {
  color: #fff;
  padding: 15px 5px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.nav__line > ul > li > a i {
  margin-left: 8px;
}
.nav__line > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.nav__line > ul > li > a:hover span {
  text-decoration: underline;
}
.nav__fluid {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.nav__fluid_slider a {
  color: #fff;
  padding: 15px 5px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.nav__fluid_slider a i {
  margin-left: 8px;
}
.nav__fluid_slider a:hover {
  color: #fff;
  text-decoration: none;
}
.nav__fluid_slider a:hover span {
  text-decoration: underline;
}
.nav__arrow {
  top: 0;
  color: #fff;
  width: 50px;
  height: 50px;
  z-index: 300;
  padding: 10px 0;
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
}
.nav__arrow a {
  padding: 8px 0;
  width: 30px;
  height: 30px;
  color: #0792fe;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav__arrow a:hover {
  color: #0792fe;
  text-decoration: none;
}
.nav__arrow_prev {
  left: -5px;
  text-align: left;
  background: #0792fe;
  background: linear-gradient(90deg, #0792fe 17%, rgba(7, 146, 254, 0.5) 66%);
}
.nav__arrow_next {
  right: -5px;
  text-align: right;
  background: #0792fe;
  background: linear-gradient(270deg, #0792fe 17%, rgba(7, 146, 254, 0.5) 65%);
}
@media (min-width: 1024px) {
  .nav {
    display: block;
  }
}
@media (min-width: 1830px) {
  .nav__fluid {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
  .nav__line {
    display: block;
  }
}
.page {
  padding-top: 60px;
}
@media (min-width: 1024px) {
  .page {
    padding-top: 0;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}
.container_lg {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container_lg:before,
.container_lg:after {
  content: " ";
  display: table;
}
.container_lg:after {
  clear: both;
}
@media (min-width: 768px) {
  .container_lg {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container_lg {
    width: 990px;
  }
}
@media (min-width: 1230px) {
  .container_lg {
    width: 1200px;
  }
}
@media (min-width: 1830px) {
  .container_lg {
    width: 1800px;
  }
}
.container_fluid {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container_fluid:before,
.container_fluid:after {
  content: " ";
  display: table;
}
.container_fluid:after {
  clear: both;
}
.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #fff;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.main_gray {
  background: #f4f4f4;
}
.main__left {
  display: none;
  position: relative;
}
.main__right {
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  .main {
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .main {
    background: #fff;
    padding-bottom: 80px;
  }
  .main_gray {
    background: #fff;
  }
  .main__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .main__left {
    width: 270px;
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .main__content {
    width: 690px;
    padding-left: 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1230px) {
  .main {
    padding-bottom: 100px;
  }
  .main__content {
    width: 900px;
  }
}
@media (min-width: 1830px) {
  .main__content {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main__right {
    width: 240px;
    display: block;
    min-height: 1px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .main__content {
    width: 1260px;
  }
}
.slider_arrow {
  outline: none ;
  z-index: 50;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 7px 0 7px 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  background: #0792fe;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.slider_arrow:hover {
  color: #fff;
  background: #272727;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.slider_arrow:active {
  color: #fff;
  background: #0792fe;
}
.heading {
  color: #232323;
  font-weight: 700;
  font-size: 2.1rem;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.heading:before {
  left: 0;
  bottom: 0;
  content: '';
  width: 54px;
  height: 2px;
  position: absolute;
  background: #5291fb;
}
@media (min-width: 768px) {
  .heading {
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
  }
  .heading:before {
    left: 50%;
    width: 86px;
    margin-left: -43px;
  }
}
.mobile_heading {
  margin-bottom: 20px;
}
.mobile_heading h1 {
  color: #151515;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .mobile_heading {
    display: none;
  }
}
.mobile_tag {
  color: #151515;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  background: #ffffff;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 767.9px) {
  .hide_xs {
    display: none !important;
  }
}
@media (max-width: 1229.9px) {
  .hide_md {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .visible_sm {
    display: none !important;
  }
}
.selection {
  overflow: hidden;
  position: relative;
}
.selection:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  overflow: hidden;
  position: absolute;
  background: url("../img/top__image.jpg") 50% 50% no-repeat;
  background-size: cover ;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
  filter: url('../img/blur.svg#blur');
  /* путь к svg */
}
.selection__wrap {
  z-index: 20;
  padding-top: 40px;
  position: relative;
  padding-bottom: 60px;
  background: rgba(0, 0, 0, 0.47);
}
.selection__header {
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 35px;
}
.selection__item {
  width: 100%;
  padding: 0 5px;
  margin-bottom: 8px;
}
.selection__item_date {
  width: 50%;
}
.selection__input {
  margin: 0;
  width: 100%;
  height: 40px;
  outline: none;
  color: #858585;
  background: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 9px 15px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #fff;
  font-family: 'SF UI Display', Arial, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.selection__input::-moz-placeholder {
  color: #858585;
  opacity: 1;
}
.selection__input:-ms-input-placeholder {
  color: #858585;
}
.selection__input::-webkit-input-placeholder {
  color: #858585;
}
.selection__input:focus,
.selection__input:active {
  outline: none;
}
.selection__input:focus::-moz-placeholder,
.selection__input:active::-moz-placeholder {
  color: transparent;
  opacity: 1;
}
.selection__input:focus:-ms-input-placeholder,
.selection__input:active:-ms-input-placeholder {
  color: transparent;
}
.selection__input:focus::-webkit-input-placeholder,
.selection__input:active::-webkit-input-placeholder {
  color: transparent;
}
.selection__select {
  padding-right: 30px;
  -webkit-appearance: none;
  background: #fff url("../img/icon__select.png") 100% 50% no-repeat;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
}
.selection__select select::-ms-expand {
  display: none;
}
.selection__form {
  margin: 0 auto;
  max-width: 560px;
}
.selection__row {
  margin: 0 -5px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.selection__button {
  color: #fff;
  width: 100%;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 20px;
  border: none;
  outline: none;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #5291fb;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.selection__button i {
  display: none;
  margin-right: 10px;
}
.selection__button:hover {
  color: #fff;
  background: #3a6cfb;
  text-decoration: none;
}
.selection__button:focus,
.selection__button.focus {
  outline: 0;
}
@media (min-width: 768px) {
  .selection__wrap {
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .selection__header {
    font-size: 3.6rem;
    margin-bottom: 60px;
  }
  .selection__item_amount {
    width: 50%;
  }
}
@media (min-width: 1230px) {
  .selection {
    background: url("../img/top__image.jpg") 50% 50% no-repeat;
    background-size: cover ;
  }
  .selection:before {
    display: none;
  }
  .selection__wrap {
    padding-top: 115px;
    padding-bottom: 135px;
    background: transparent;
  }
  .selection__header {
    font-size: 5.5rem;
    margin-bottom: 110px;
    text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.5);
  }
  .selection__form {
    width: 100%;
    background: #fff;
    padding: 30px 30px;
    max-width: 1230px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .selection__row {
    margin: 0 -18px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }
  .selection__item {
    width: 182px;
    padding: 0 18px;
    margin-bottom: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .selection__item_date {
    width: 182px;
  }
  .selection__item_amount {
    width: 182px;
  }
  .selection__item_button {
    width: 234px;
    padding-left: 46px;
  }
  .selection__input {
    height: 42px;
    border: none;
    color: #1e1e1e;
    background: #fff;
    padding: 11px 0 10px 0;
    border-bottom: 1px solid #b2b2b2;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .selection__input::-moz-placeholder {
    color: #1e1e1e;
    opacity: 1;
  }
  .selection__input:-ms-input-placeholder {
    color: #1e1e1e;
  }
  .selection__input::-webkit-input-placeholder {
    color: #1e1e1e;
  }
  .selection__input:focus::-moz-placeholder {
    color: transparent;
    opacity: 1;
  }
  .selection__input:focus:-ms-input-placeholder {
    color: transparent;
  }
  .selection__input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  .selection__select {
    padding-left: 5px;
    padding-right: 15px;
    background: #fff url("../img/icon__select.png") 107% 50% no-repeat;
  }
  .selection__button {
    font-size: 1.7rem;
    padding: 15px 40px;
    background-color: #0792fe;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .selection__button i {
    display: inline-block;
  }
  .selection__button:hover {
    background-color: #1566fe;
  }
}
.why {
  color: #fff;
  padding-top: 40px;
  background: url("../img/why__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.why__heading {
  color: #fff;
  max-width: 400px;
  font-weight: 700;
  font-size: 2.1rem;
  text-align: center;
  margin: 0 auto 40px auto;
}
.why__row {
  margin: 0 auto;
  max-width: 300px;
}
.why__item {
  color: #cbcbcb;
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-bottom: 40px;
}
.why__item_icon {
  width: 79px;
  height: 79px;
  display: block;
  overflow: hidden;
  background: #5291fb;
  margin: 0 auto 15px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.why__item_title {
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .why {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .why__heading {
    width: 620px;
    max-width: inherit;
    font-size: 3.5rem;
    margin-bottom: 60px;
  }
  .why__row {
    width: 100%;
    max-width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .why__item {
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin-bottom: 0;
    width: calc(33.33% - 15px);
  }
  .why__item_icon {
    background: #0792fe;
    margin-bottom: 20px;
  }
  .why__item_title {
    margin-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .why__item_title {
    font-size: 20px;
  }
}
@media (min-width: 1230px) {
  .why {
    padding-top: 90px;
    padding-bottom: 130px;
  }
  .why__item {
    width: calc(33.33% - 40px);
  }
}
.objects {
  z-index: 10;
  padding-top: 35px;
  padding-bottom: 20px;
  position: relative;
  background: #fff;
}
.objects .heading {
  max-width: 250px;
  margin-bottom: 40px;
}
.objects__mobile_item {
  max-width: 360px;
  margin-bottom: 20px;
}
.objects__desktop {
  display: none;
  position: relative;
}
.objects__desktop_slider {
  margin: 0 auto;
}
.objects__slider .swiper-slide {
  padding: 45px 15px 15px 15px;
}
.objects__arrow {
  top: 50%;
  margin-top: -5px;
  position: absolute;
}
.objects__arrow_prev {
  left: -15px;
}
.objects__arrow_next {
  right: -15px;
}
@media (min-width: 768px) {
  .objects {
    padding-top: 85px;
    padding-bottom: 60px;
    background: #f6f6f6;
  }
  .objects .heading {
    max-width: inherit;
    margin-bottom: 15px;
  }
  .objects__mobile {
    display: none;
  }
  .objects__desktop {
    display: block;
  }
  .objects__desktop_slider {
    margin: 0 -15px;
    width: auto;
  }
}
@media (min-width: 1230px) {
  .objects {
    padding-top: 90px;
    padding-bottom: 10px;
  }
  .objects__desktop {
    margin-bottom: -85px;
  }
  .objects__desktop_slider {
    margin: 0 -15px;
    width: auto;
  }
  .objects__arrow_prev {
    left: -15px;
  }
  .objects__arrow_next {
    right: -15px;
  }
}
@media (min-width: 1300px) {
  .objects__arrow_prev {
    left: -50px;
  }
  .objects__arrow_next {
    right: -50px;
  }
}
.object_intro {
  top: 0;
  height: 224px;
  max-width: 340px;
  overflow: hidden;
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.object_intro:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  content: '';
  opacity: 0.75;
  background: #2b2b2b;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.object_intro:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: #0792fe;
  background: linear-gradient(0deg, #0792fe 0%, rgba(9, 9, 121, 0) 100%);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.object_intro__content {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  color: #fff;
  padding: 20px 12px;
  position: absolute;
}
.object_intro__title {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.object_intro__place {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 25px;
}
.object_intro__info {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.object_intro__button {
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 7px 20px;
  text-align: center;
  background: #5291fb;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.object_intro__button:hover {
  color: #fff;
  background: #272727;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.object_intro__price {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  display: inline-block;
  border-bottom: 1px solid #fff;
}
.object_intro:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.object_intro:hover .object_intro__button {
  background: #272727;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
@media (min-width: 768px) {
  .object_intro {
    width: 100%;
    height: 300px;
    max-width: inherit;
  }
}
@media (min-width: 1024px) {
  .object_intro:hover {
    top: -20px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}
@media (min-width: 1230px) {
  .object_intro {
    height: 360px;
  }
  .object_intro__title {
    color: #fff;
    font-size: 1.9rem;
    line-height: 2.4rem;
    margin-bottom: 5px;
  }
  .object_intro__place {
    font-size: 1.7rem;
    line-height: 2rem;
    margin-bottom: 30px;
  }
  .object_intro__content {
    padding: 30px;
  }
  .object_intro__button {
    font-size: 1.5rem;
    padding: 10px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .object_intro__price {
    font-size: 1.9rem;
    line-height: 2.3rem;
  }
}
@media (min-width: 1830px) {
  .object_intro {
    height: 360px;
  }
}
.comments {
  z-index: 5;
  background: #fff;
  padding-top: 35px;
  position: relative;
  padding-bottom: 40px;
}
.comments .heading {
  max-width: 250px;
  margin-bottom: 30px;
}
.comments__wrap {
  max-width: 360px;
  position: relative;
}
.comments__slider {
  margin: 0 auto;
}
.comments__item {
  background: #fff;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments__item_image {
  position: relative;
}
.comments__item_content {
  color: #666666;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  padding: 10px 15px 20px 15px;
  border: 1px solid #efefef;
  border-top: none;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments__item_date {
  left: 15px;
  bottom: 15px;
  color: #fff;
  z-index: 10;
  padding: 5px 8px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  position: absolute;
  background: rgba(82, 145, 251, 0.9);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.comments__item_title {
  color: #363636;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 5px;
}
.comments__item_author {
  color: #989898;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.9rem;
  margin-bottom: 15px;
}
.comments__item_author i {
  margin-right: 8px;
}
.comments__item_text {
  margin-bottom: 10px;
}
.comments__item_link {
  color: #5291fb;
  text-decoration: none;
}
.comments__item_link:hover {
  color: #272727;
  text-decoration: none;
}
.comments__arrow {
  top: 50%;
  z-index: 100;
  margin-top: -40px;
  position: absolute;
}
.comments__arrow_next {
  right: -15px;
}
.comments__arrow_prev {
  left: -15px;
}
@media (min-width: 768px) {
  .comments {
    padding-top: 80px;
    padding-bottom: 120px;
  }
  .comments .heading {
    max-width: inherit;
    margin-bottom: 50px;
  }
  .comments__wrap {
    max-width: inherit;
  }
  .comments__arrow {
    top: 180px;
    margin-top: 0;
  }
}
@media (min-width: 1024px) {
  .comments__arrow {
    top: 155px;
  }
}
@media (min-width: 1230px) {
  .comments {
    padding-top: 200px;
  }
  .comments__arrow {
    top: 195px;
  }
}
@media (min-width: 1300px) {
  .comments__arrow_next {
    right: -50px;
  }
  .comments__arrow_prev {
    left: -50px;
  }
}
.discount {
  color: #fff;
  background: url("../img/discount__bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
.discount__row {
  padding-top: 25px;
  padding-bottom: 20px;
}
.discount__content {
  margin-bottom: 10px;
}
.discount__content_title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin-bottom: 5px;
}
.discount__content_text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.discount__button {
  color: #fff;
  width: 100%;
  border: none;
  outline: none;
  max-width: 360px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 9px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #5291fb;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.discount__button i {
  display: none;
  margin-right: 10px;
}
.discount__button:hover {
  color: #fff;
  background: #3a6cfb;
  text-decoration: none;
}
.discount__button:focus,
.discount__button.focus {
  outline: 0;
}
@media (min-width: 768px) {
  .discount__row {
    height: 140px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .discount__content {
    margin-bottom: 0;
  }
  .discount__content_title {
    font-size: 3.4rem;
    line-height: 3.6rem;
    margin-bottom: 10px;
  }
  .discount__content_text {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
  .discount__button {
    width: auto;
    font-size: 1.7rem;
    line-height: 2rem;
    max-width: inherit;
    padding: 13px 60px;
    background: transparent;
    border: 2px solid #0792fe;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .discount__button:hover {
    border-color: #0792fe;
  }
}
.promo {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 80px;
}
.promo .heading {
  max-width: 200px;
  margin-bottom: 30px;
}
.promo__wrap {
  max-width: 360px;
  position: relative;
}
.promo__arrow {
  top: 200px;
  z-index: 100;
  position: absolute;
}
.promo__arrow_prev {
  left: -15px;
  opacity: 0;
  visibility: hidden;
}
.promo__arrow_next {
  right: -15px;
}
.promo__slider .swiper-pagination {
  left: auto;
  right: auto;
  bottom: auto;
  font-size: 0;
  line-height: 0;
  position: relative;
  padding-top: 20px;
  text-align: center;
}
.promo__slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  outline: none;
  cursor: pointer;
  margin: 0 3px;
  opacity: 1;
  background: #e8e8e8;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo__slider .swiper-pagination-bullet-active {
  background: #5291fb;
}
@media (min-width: 768px) {
  .promo {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .promo .heading {
    max-width: inherit;
    margin-bottom: 50px;
  }
  .promo__wrap {
    width: 100%;
    max-width: inherit;
  }
  .promo__arrow {
    top: 50%;
    margin-top: -40px;
  }
  .promo__arrow_prev {
    opacity: 1;
    visibility: visible;
  }
}
@media (min-width: 1230px) {
  .promo {
    padding-top: 130px;
    padding-bottom: 180px;
  }
}
@media (min-width: 1300px) {
  .promo__arrow_prev {
    left: -50px;
  }
  .promo__arrow_next {
    right: -50px;
  }
}
.promo_item__image {
  z-index: 5;
  height: 215px;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo_item__content {
  z-index: 1;
  color: #b9b9b9;
  font-size: 14px;
  margin-top: -1px;
  padding: 15px 10px;
  border: 1px solid #eee;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.promo_item__title {
  color: #232323;
  font-weight: 700;
  font-size: 1.74rem;
  margin-bottom: 10px;
}
.promo_item__text {
  max-height: 255px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}
.promo_item__buttons {
  margin: 0;
  padding: 0;
  list-style: none;
}
.promo_item__buttons > li {
  margin-bottom: 7px;
}
.promo_item__buttons .btn {
  width: 100%;
}
@media (min-width: 768px) {
  .promo_item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .promo_item__image {
    width: 290px;
    height: auto;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .promo_item__content {
    padding: 20px 25px;
    margin: 0 0 0 -1px;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  .promo_item__buttons {
    margin: 0 -10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .promo_item__buttons > li {
    width: 50%;
    margin: 0;
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .promo_item__image {
    width: 390px;
  }
  .promo_item__content {
    font-size: 17px;
    padding: 35px 20px 20px 40px;
  }
  .promo_item__title {
    font-size: 3rem;
    margin-bottom: 15px;
  }
  .promo_item__text {
    max-height: 360px;
    margin-bottom: 20px;
  }
  .promo_item__buttons > li {
    width: 50%;
  }
}
@media (min-width: 1230px) {
  .promo_item__buttons > li {
    width: 285px;
  }
}
.resort {
  padding-top: 25px;
  padding-bottom: 25px;
  background: #f0f0f0;
}
.resort .heading {
  display: none;
}
.resort__desktop {
  display: none;
}
@media (min-width: 768px) {
  .resort {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .resort .heading {
    display: block;
    margin-bottom: 45px;
  }
}
@media (min-width: 1024px) {
  .resort {
    background: #f6f6f6;
  }
  .resort__mobile {
    display: none;
  }
  .resort__desktop {
    display: block;
  }
}
@media (min-width: 1230px) {
  .resort {
    padding-top: 100px;
    padding-bottom: 145px;
  }
}
.resort_mobile {
  margin: 0;
  padding: 0;
  list-style: none;
}
.resort_mobile > li {
  overflow: hidden;
  margin-bottom: 2px;
}
.resort_mobile > li.active .resort_mobile__nav {
  color: #fff;
  background: #0792fe;
}
.resort_mobile > li.active .resort_mobile__nav i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_mobile__nav {
  height: 41px;
  color: #151515;
  cursor: pointer;
  background: #fff;
  padding: 2px 15px;
  font-size: 1.5rem;
  line-height: 1.9rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.resort_mobile__nav span {
  font-weight: 600;
  display: inline-block;
}
.resort_mobile__nav i {
  font-size: 13px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_mobile__content {
  display: none;
  margin-top: 2px;
  overflow: hidden;
  background: #0792fe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resort_mobile__place {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}
.resort_mobile__place > li a {
  width: 100%;
  color: #fff;
  padding: 8px 15px;
  font-size: 1.5rem;
  line-height: 2rem;
  text-decoration: none;
  display: inline-block;
}
.resort_mobile__place > li a:hover {
  color: #fff;
  text-decoration: none;
}
.resort_desktop {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.resort_desktop__nav {
  width: 260px;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.resort_desktop__nav a {
  height: 50px;
  color: #0d0d0d;
  background: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 5px 20px;
  margin-bottom: 2px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.resort_desktop__nav a:last-child {
  margin-bottom: 0;
}
.resort_desktop__nav a span {
  display: inline-block;
}
.resort_desktop__nav a i {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
.resort_desktop__nav a:hover {
  color: #fff;
  background: #0792fe;
  text-decoration: none;
}
.resort_desktop__nav a.active {
  color: #fff;
  background: #0792fe;
}
.resort_desktop__content {
  padding-left: 20px;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.resort_desktop__place {
  background: #0792fe;
  padding: 12px 25px;
  margin-bottom: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resort_desktop__place ul {
  padding: 0;
  margin: 0 -18px;
  list-style: none;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.resort_desktop__place ul li {
  padding: 10px 18px;
}
.resort_desktop__place ul li a {
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.resort_desktop__place ul li a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom-color: #97c6fe;
}
.resort_desktop__image {
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__tab {
  display: none;
}
.resort_desktop__tab.active {
  display: block;
}
.resort_desktop__item {
  display: none;
}
.resort_desktop__item.active {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.resort_desktop__info {
  color: #fff;
  padding: 10px 15px;
  background: #0792fe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resort_desktop__tiles {
  position: relative;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.resort_desktop__tiles.invert .resort_desktop__cat {
  opacity: 0;
  visibility: hidden;
}
.resort_desktop__tiles.invert .resort_desktop__city {
  opacity: 1;
  visibility: visible;
}
.resort_desktop__cat {
  top: 0;
  left: -2px;
  right: -2px;
  bottom: -2px;
  margin: 0;
  padding: 2px 0 0 0;
  list-style: none;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.resort_desktop__cat > li {
  width: 25%;
  height: 25%;
  padding: 2px;
}
.resort_desktop__cat > li > a {
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__cat > li > a:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__cat > li > a > span {
  z-index: 5;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: right;
  position: absolute;
  display: inline-block;
}
.resort_desktop__cat > li > a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__cat > li > a:hover:before {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__cat > li > span {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  background: #0792fe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resort_desktop__city {
  top: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  margin: 0;
  padding: 4px 0 2px 0;
  list-style: none;
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
.resort_desktop__head {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 15px;
  background: #0792fe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.resort_desktop__links {
  padding: 2px 0 0 0;
  list-style: none;
  margin: 0 -2px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.resort_desktop__links > li {
  width: 25%;
  height: 33.33%;
  padding: 2px;
}
.resort_desktop__links > li > a {
  color: #fff;
  width: 100%;
  height: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  display: block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__links > li > a:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__links > li > a > span {
  z-index: 5;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: right;
  position: absolute;
  display: inline-block;
}
.resort_desktop__links > li > a:hover {
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__links > li > a:hover:before {
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.resort_desktop__links > li > span {
  color: #fff;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  background: #0792fe;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
