@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Light.eot');
  src: local('SF UI Display Light'), local('SFUIDisplay-Light'), url('../fonts/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Light.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot');
  src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot');
  src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot');
  src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot');
  src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'), url('../fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
  src: local('MuseoSansCyrl-300'), url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
  src: local('MuseoSansCyrl-500'), url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
  src: local('MuseoSansCyrl-700'), url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'), url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'), url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  font-size: 10px;
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.img_fluid {
  height: auto;
  display: block;
  max-width: 100%;
}
.ico_svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 100%;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.hide {
  opacity: 0 !important;
  display: none !important;
  visibility: hidden !important;
}
.text_center {
  text-align: center !important;
}
.text_right {
  text-align: right !important;
}
.text_justify {
  text-align: justify !important;
}
.text_nowrap {
  white-space: nowrap !important;
}
.text_lowercase {
  text-transform: lowercase !important;
}
.text_uppercase {
  text-transform: uppercase !important;
}
.text_capitalize {
  text-transform: capitalize !important;
}
.mb_10 {
  margin-bottom: 10px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}
.mb_30 {
  margin-bottom: 30px !important;
}
.mb_40 {
  margin-bottom: 40px !important;
}
.mb_50 {
  margin-bottom: 50px !important;
}
.mb_60 {
  margin-bottom: 60px !important;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-21by9::before {
  padding-top: 42.85714286%;
}
.embed-responsive-16by9::before {
  padding-top: 56.25%;
}
.embed-responsive-4by3::before {
  padding-top: 75%;
}
.embed-responsive-1by1::before {
  padding-top: 100%;
}
.btn {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 7px 20px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: #cbcbcb;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn:hover {
  color: #fff;
  background: #272727;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn:focus,
.btn.focus {
  outline: 0;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.7rem;
    padding: 15px 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.btn_blue {
  background: #5291fb;
}
.btn_blue:hover {
  background: #272727;
}
@media (min-width: 1024px) {
  .btn_sm {
    font-size: 1.3rem;
    padding: 10px 30px;
    font-weight: 500;
    text-transform: uppercase;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
.btn_border {
  color: #b3b3b3;
  outline: none;
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  padding: 10px 30px;
  user-select: none;
  text-align: center;
  white-space: nowrap;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  border: 1px solid #dcdce0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn_border:hover {
  color: #232323;
  background: transparent;
  text-decoration: none;
  border-color: #232323;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
.btn_border:focus,
.btn_border.focus {
  outline: 0;
}
.breadcrumb__mobile {
  display: block;
  margin-bottom: 15px;
}
.breadcrumb__mobile a {
  color: #232323;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.breadcrumb__mobile a i {
  top: -2px;
  font-size: 1rem;
  margin-right: 5px;
  position: relative;
}
.breadcrumb__mobile a:hover {
  color: #232323;
  text-decoration: none;
}
.breadcrumb__desktop {
  display: none;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
.breadcrumb__desktop ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.breadcrumb__desktop ul li {
  color: #232530;
}
.breadcrumb__desktop ul li:after {
  content: '\f105';
  color: #c1c1c1;
  padding: 0 10px;
  font-family: FontAwesome;
}
.breadcrumb__desktop ul li a {
  color: #c1c1c1;
}
.breadcrumb__desktop ul li span {
  font-weight: 600;
}
.breadcrumb__desktop ul li:last-child:after {
  display: none;
}
@media (min-width: 1024px) {
  .breadcrumb__mobile {
    display: none;
  }
  .breadcrumb__desktop {
    display: block;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #232323;
  font-family: 'SF UI Display', Arial, sans-serif;
  background-color: #fff;
  font-size: 1.5rem;
  line-height: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 3.2rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h2,
.h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h3,
.h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h4,
.h4 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h5,
.h5 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
h6,
.h6 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  font-family: 'SF UI Display', Arial, sans-serif;
}
p {
  margin: 0 0 1rem 0;
}
a {
  outline: none;
  color: #232323;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #232323;
  text-decoration: underline;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 1200;
  position: fixed;
  background: #fff;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.header__row {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header__toggle {
  width: 28px;
  height: 28px;
  font-size: 0;
  line-height: 0;
  position: relative;
  display: inline-block;
}
.header__toggle:after,
.header__toggle:before {
  left: 0;
  z-index: 10;
  content: '';
  width: 28px;
  height: 3px;
  position: absolute;
  display: inline-block;
  background: #0792fe;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__toggle:after {
  top: 4px;
}
.header__toggle:before {
  bottom: 3px;
}
.header__toggle span {
  left: 0;
  top: 50%;
  z-index: 10;
  width: 28px;
  height: 3px;
  margin-top: -1px;
  position: absolute;
  display: inline-block;
  background: #0792fe;
}
.header__logo {
  width: 164px;
  height: 36px;
  display: block;
  margin-top: 10px;
  background: url("../img/header__logo_xs.png") 50% 50% no-repeat;
}
.header__append {
  color: #fff;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  position: relative;
  white-space: nowrap;
  background: #0792fe;
  text-decoration: none;
  vertical-align: middle;
  padding: 10px 55px 10px 25px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append i {
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  color: #fff;
  padding: 1px 0;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: -12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #0375ce;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:hover {
  color: #fff;
  background: #0375ce;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:hover i {
  background: #0792fe;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__append:active {
  background: #0792fe;
}
.header__append:active i {
  background: #0375ce;
}
.header__search {
  width: 360px;
  display: none;
}
.header__search_row {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.header__search_input {
  margin: 0;
  width: 100%;
  height: 40px;
  outline: none;
  color: #232530;
  background: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 9px 20px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0792fe;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.header__search_input::-moz-placeholder {
  color: #b6b7b9;
  opacity: 1;
}
.header__search_input:-ms-input-placeholder {
  color: #b6b7b9;
}
.header__search_input::-webkit-input-placeholder {
  color: #b6b7b9;
}
.header__search_input:focus,
.header__search_input:active {
  outline: none;
  @include placeholder(transparent);
}
.header__search_button {
  color: #fff;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  user-select: none;
  padding: 10px 30px;
  text-align: center;
  white-space: nowrap;
  background: #0792fe;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.header__search_button:hover {
  color: #fff;
  background: #0375ce;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header__search_button:active {
  background: #0792fe;
}
@media (min-width: 1024px) {
  .header {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .header__row {
    height: 76px;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    width: 234px;
    height: 51px;
    margin-top: 5px;
    background-image: url("../img/header__logo.png");
  }
  .header__append {
    display: inline-block;
  }
  .header__search {
    display: block;
  }
}
@media (min-width: 1230px) {
  .header__search {
    width: 440px;
  }
}
.footer {
  color: #fff;
  padding: 15px 0;
  background: #5291fb;
}
.footer__logo {
  width: 172px;
  height: 37px;
  display: block;
  background: url("../img/footer__logo_sm.png") 50% 50% no-repeat;
}
.footer__nav {
  margin-bottom: 15px;
}
.footer__nav_title {
  color: #000;
  display: none;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.footer__nav_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__nav_menu > li > a {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3.6rem;
  text-decoration: none;
}
.footer__nav_menu > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.footer__add {
  margin-bottom: 10px;
}
.footer__append {
  color: #000;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  position: relative;
  padding: 10px 30px;
  white-space: nowrap;
  background: #f4f4f4;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer__append i {
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  color: #fff;
  padding: 1px 0;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-top: -12px;
  text-align: center;
  font-style: normal;
  position: absolute;
  background: #5291fb;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.footer__append:hover {
  color: #000;
  background: #f4f4f4;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 55px;
    background: #f9f9f9;
    padding-bottom: 60px;
  }
  .footer__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
  }
  .footer__append {
    display: none;
  }
  .footer__info {
    margin: 0;
    width: 320px;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .footer__nav {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
  }
  .footer__logo {
    width: 234px;
    height: 51px;
    background-image: url("../img/header__logo.png");
  }
  .footer__nav {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .footer__nav_group {
    width: 200px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .footer__nav_title {
    display: block;
  }
  .footer__nav_menu > li > a {
    color: #646a7c;
  }
  .footer__nav_menu > li > a:hover {
    color: #0792fe;
  }
}
@media (min-width: 1024px) {
  .footer__info {
    width: 400px;
  }
}
.footer_bottom {
  color: #fff;
  display: none;
  padding: 16px 0;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  background: #0792fe;
}
.footer_bottom a {
  color: #fff;
  text-decoration: none;
}
.footer_bottom a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer_bottom__right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.footer_bottom .counter {
  font-size: 0;
  line-height: 0;
  padding: 0 3px;
  display: inline-block;
}
.footer_bottom__right {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .footer_bottom {
    display: block;
  }
}
@media (min-width: 1024px) {
  .footer_bottom {
    text-align: left;
  }
  .footer_bottom__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .footer_bottom__right {
    padding-top: 0;
    margin-right: -2px;
  }
}
.nav_mobile {
  top: 0;
  right: 0;
  bottom: 0;
  width: 260px;
  z-index: 1500;
  position: fixed;
  background: #fff;
  overflow-y: auto;
  padding: 15px 0;
  margin-right: -300px;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.45);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_mobile > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav_mobile > ul > li > a {
  width: 100%;
  color: #0792fe;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
}
.nav_mobile > ul > li > a:hover {
  color: #0792fe;
  text-decoration: none;
}
.nav_mobile > ul > li > a i {
  margin-left: 5px;
}
@media (min-width: 768px) {
  .nav_mobile {
    width: 400px;
    margin-right: -430px;
  }
}
@media (min-width: 1024px) {
  .nav_mobile {
    display: none;
  }
}
.nav_open .nav_mobile {
  margin-right: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_open .header__toggle span {
  opacity: 0;
  visibility: hidden;
}
.nav_open .header__toggle:after {
  top: 13px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav_open .header__toggle:before {
  bottom: 12px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav {
  color: #fff;
  display: none;
  z-index: 1000;
  position: relative;
  background: #0792fe;
}
.nav__container {
  height: 50px;
  position: relative;
}
.nav__line {
  z-index: 30;
  display: none;
  position: relative;
}
.nav__line > ul {
  padding: 0;
  margin: 0 -5px;
  list-style: none;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.nav__line > ul > li > a {
  color: #fff;
  padding: 15px 5px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.nav__line > ul > li > a i {
  margin-left: 8px;
}
.nav__line > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
}
.nav__line > ul > li > a:hover span {
  text-decoration: underline;
}
.nav__fluid {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.nav__fluid_slider a {
  color: #fff;
  padding: 15px 5px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  text-decoration: none;
}
.nav__fluid_slider a i {
  margin-left: 8px;
}
.nav__fluid_slider a:hover {
  color: #fff;
  text-decoration: none;
}
.nav__fluid_slider a:hover span {
  text-decoration: underline;
}
.nav__arrow {
  top: 0;
  color: #fff;
  width: 50px;
  height: 50px;
  z-index: 300;
  padding: 10px 0;
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
}
.nav__arrow a {
  padding: 8px 0;
  width: 30px;
  height: 30px;
  color: #0792fe;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  background: #fff;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.nav__arrow a:hover {
  color: #0792fe;
  text-decoration: none;
}
.nav__arrow_prev {
  left: -5px;
  text-align: left;
  background: #0792fe;
  background: linear-gradient(90deg, #0792fe 17%, rgba(7, 146, 254, 0.5) 66%);
}
.nav__arrow_next {
  right: -5px;
  text-align: right;
  background: #0792fe;
  background: linear-gradient(270deg, #0792fe 17%, rgba(7, 146, 254, 0.5) 65%);
}
@media (min-width: 1024px) {
  .nav {
    display: block;
  }
}
@media (min-width: 1830px) {
  .nav__fluid {
    opacity: 0;
    z-index: -1;
    visibility: hidden;
  }
  .nav__line {
    display: block;
  }
}
.page {
  padding-top: 60px;
}
@media (min-width: 1024px) {
  .page {
    padding-top: 0;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 990px;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 1200px;
  }
}
.container_lg {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container_lg:before,
.container_lg:after {
  content: " ";
  display: table;
}
.container_lg:after {
  clear: both;
}
@media (min-width: 768px) {
  .container_lg {
    width: 750px;
  }
}
@media (min-width: 1024px) {
  .container_lg {
    width: 990px;
  }
}
@media (min-width: 1230px) {
  .container_lg {
    width: 1200px;
  }
}
@media (min-width: 1830px) {
  .container_lg {
    width: 1800px;
  }
}
.container_fluid {
  max-width: 1800px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container_fluid:before,
.container_fluid:after {
  content: " ";
  display: table;
}
.container_fluid:after {
  clear: both;
}
.page {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main {
  padding-top: 10px;
  padding-bottom: 40px;
  background: #fff;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.main_gray {
  background: #f4f4f4;
}
.main__left {
  display: none;
  position: relative;
}
.main__right {
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  .main {
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .main {
    background: #fff;
    padding-bottom: 80px;
  }
  .main_gray {
    background: #fff;
  }
  .main__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .main__left {
    width: 270px;
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .main__content {
    width: 690px;
    padding-left: 30px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 1230px) {
  .main {
    padding-bottom: 100px;
  }
  .main__content {
    width: 900px;
  }
}
@media (min-width: 1830px) {
  .main__content {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main__right {
    width: 240px;
    display: block;
    min-height: 1px;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .main__content {
    width: 1260px;
  }
}
.slider_arrow {
  outline: none ;
  z-index: 50;
  color: #fff;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 7px 0 7px 0;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  background: #0792fe;
  display: inline-block;
  text-decoration: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.slider_arrow:hover {
  color: #fff;
  background: #272727;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.slider_arrow:active {
  color: #fff;
  background: #0792fe;
}
.heading {
  color: #232323;
  font-weight: 700;
  font-size: 2.1rem;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.heading:before {
  left: 0;
  bottom: 0;
  content: '';
  width: 54px;
  height: 2px;
  position: absolute;
  background: #5291fb;
}
@media (min-width: 768px) {
  .heading {
    font-size: 35px;
    text-align: center;
    padding-bottom: 25px;
  }
  .heading:before {
    left: 50%;
    width: 86px;
    margin-left: -43px;
  }
}
.mobile_heading {
  margin-bottom: 20px;
}
.mobile_heading h1 {
  color: #151515;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .mobile_heading {
    display: none;
  }
}
.mobile_tag {
  color: #151515;
  padding: 9px 15px;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  background: #ffffff;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
@media (max-width: 767.9px) {
  .hide_xs {
    display: none !important;
  }
}
@media (max-width: 1229.9px) {
  .hide_md {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .visible_sm {
    display: none !important;
  }
}
.side_box {
  padding: 20px 30px;
  background: #f6f6f6;
  margin-bottom: 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.side_box__title {
  color: #232530;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  margin-bottom: 8px;
}
.side_box__nav {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: none;
}
.side_box__nav > li {
  margin-bottom: 3px;
}
.side_box__nav > li:last-child {
  margin-bottom: 0;
}
.side_box__nav > li a {
  color: #232530;
  text-decoration: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.side_box__nav > li a strong {
  font-weight: 500;
  display: inline-block;
}
.side_box__nav > li a span {
  padding-left: 5px;
  display: inline-block;
}
.side_box__nav > li a:hover {
  color: #0792fe;
  text-decoration: none;
}
.side_box__nav > li.active a {
  color: #0792fe;
  font-weight: 600;
}
.side_box__nav > li.active a strong {
  font-weight: 600;
}
.side_box__links {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.4rem;
  list-style: none;
}
.side_box__links > li a {
  color: #727272;
  text-decoration: none;
}
.side_box__links > li a:hover {
  color: #727272;
  text-decoration: underline;
}
.aside {
  overflow: hidden;
  background: #f6f6f6;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.aside__header {
  color: #fff;
  height: 50px;
  padding: 5px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2rem;
  background: #0792fe;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.aside__header span {
  display: block;
  margin: auto 0;
}
.aside__content {
  padding: 20px 30px;
}
.side_weather {
  display: block;
  margin-bottom: 20px;
}
.side_weather:last-child {
  margin-bottom: 0;
}
.special_content {
  margin: 0;
  padding: 0;
  list-style: none;
}
.special_content > li {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.special__item {
  color: #101010;
  display: block;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.special__item:hover {
  color: #101010;
  text-decoration: none;
}
.special__item_image {
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.special__item_title {
  font-weight: 600;
}
.side_add {
  width: 210px;
  margin: 0 auto;
}
.side_add__content {
  display: block;
}
.goods {
  margin-bottom: 20px;
}
.goods__image {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.goods__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.goods__image a {
  top: 0;
  left: 0;
  bottom: 0;
  border: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.goods__content {
  color: #646a7c;
  background: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.2rem;
  padding: 10px 10px 5px 15px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.goods__detail ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.goods__detail ul strong {
  color: #232530;
  font-weight: 600;
}
.goods__price_title {
  color: #232530;
  display: inline;
  font-weight: 600;
}
.goods__price_value {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}
.goods__price_value li {
  display: inline;
}
.goods__views {
  opacity: 0.43;
  padding-top: 5px;
}
.goods__title {
  color: #252525;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.3rem;
}
.goods__title a {
  color: #252525;
  text-decoration: none;
}
.goods__title a:hover {
  color: #0792fe;
  text-decoration: none;
}
@media (min-width: 768px) {
  .goods {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .goods__image {
    width: 300px;
    min-height: 185px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
  .goods__image:before {
    display: none;
  }
  .goods__content {
    padding: 10px 20px 10px 20px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .goods__title {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .goods__price_title {
    display: inline;
  }
  .goods__price_value {
    display: inline;
  }
  .goods__price_value span {
    display: inline-block;
  }
}
@media (min-width: 1024px) {
  .goods__image {
    border: 2px solid #26a0fe;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  .goods__content {
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}
@media (min-width: 1230px) {
  .goods__image {
    width: 260px;
  }
  .goods__content_row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }
  .goods__detail {
    padding-right: 10px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  .goods__info {
    width: 230px;
    text-align: right;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .goods__price {
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  .goods__price_title {
    display: block;
  }
  .goods__price_value {
    display: block;
  }
  .goods__views {
    opacity: 1;
    color: #232530;
    font-weight: 600;
  }
  .goods__views a {
    color: #232530;
  }
}
@media (min-width: 1830px) {
  .goods__info {
    width: 290px;
  }
  .goods__price_value li {
    display: block;
  }
}
.goods_inner {
  padding-bottom: 5px;
}
@media (min-width: 1230px) {
  .goods_inner {
    padding-bottom: 40px;
  }
}
.goods_map {
  margin: 0 -15px;
  height: 270px;
}
@media (min-width: 768px) {
  .goods_map {
    margin: 0;
    height: 360px;
  }
}
@media (min-width: 1230px) {
  .goods_map {
    margin: 0;
    height: 460px;
  }
}
.goods_mobile {
  padding-top: 25px;
}
.goods_mobile__heading {
  color: #252525;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-bottom: 30px;
}
.goods_mobile__heading a {
  color: #252525;
  text-decoration: none;
}
.goods_mobile__heading a:hover {
  color: #252525;
  text-decoration: none;
}
.goods_mobile__content {
  font-size: 1.5rem;
  line-height: 2.8rem;
}
.goods_mobile__content ul {
  padding: 0;
  list-style: none;
  margin: 0 -10px 0 0;
}
.goods_mobile__content ul li {
  margin-right: 10px;
  display: inline-block;
}
.goods_mobile__title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media (min-width: 1024px) {
  .goods_mobile {
    display: none;
  }
}
