.page {
	padding-top: 60px;

	@media (min-width: @screen-md-min) {
		padding-top: 0;
	}
}


.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  15px;
	padding-right: 15px;
	.clearfix();

	@media (min-width: @screen-sm-min) {
		width: @container-sm;
	}

	@media (min-width: @screen-md-min) {
		width: @container-md;
	}

	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}
}


.container_lg {
	margin-right: auto;
	margin-left: auto;
	padding-left:  15px;
	padding-right: 15px;
	.clearfix();

	@media (min-width: @screen-sm-min) {
		width: @container-sm;
	}

	@media (min-width: @screen-md-min) {
		width: @container-md;
	}

	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}

	@media (min-width: @screen-xl-min) {
		width: @container-xl;
	}
}

.container_fluid {
	max-width: @container-xl;
	margin-right: auto;
	margin-left: auto;
	padding-left:  15px;
	padding-right: 15px;
	.clearfix();
}

.page {
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	.flex-display();
	.flex-direction(column);
}

.main {
	padding-top: 10px;
	padding-bottom: 40px;
	background: #fff;
	.flex-grow(1);

	&_gray {
		background: #f4f4f4;
	}

	&__left {
		display: none;
		position: relative;
	}

	&__right {
		display: none;
		position: relative;
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 20px;
	}

	@media (min-width: @screen-md-min) {
		background: #fff;
		padding-bottom: 80px;

		&_gray {
			background: #fff;
		}

		&__row {
			.flex-display();
		}

		&__left {
			width: 270px;
			display: block;
			.flex-shrink(0);
		}

		&__content {
			width: 690px;
			padding-left: 30px;
			.flex-shrink(0);
		}
	}

	@media (min-width: @screen-lg-min) {
		padding-bottom: 100px;

		&__content {
			width: 900px;
		}
	}

	@media (min-width: @screen-xl-min) {

		&__content {
			padding-left: 60px;
			padding-right: 60px;
		}

		&__right {
			width: 240px;
			display: block;
			min-height: 1px;
			.flex-shrink(0);
		}

		&__content {
			width: 1260px;
		}
	}
}

.slider_arrow {
	outline: none ;
	z-index: 50;
	color: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
	padding: 7px 0 7px 0;
	font-size: 16px;
	text-align: center;
	line-height: 16px;
	background: #0792fe;
	display: inline-block;
	text-decoration: none;
	.border-radius(50%);
	.transition(.3s);

	&:hover {
		color: #fff;
		background: #272727;
		.transition(.3s);
	}

	&:active {
		color: #fff;
		background: #0792fe;
	}
}

.heading {
	color: #232323;
	font-weight: 700;
	font-size: 2.1rem;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 30px;

	&:before {
		left: 0;
		bottom: 0;
		content: '';
		width: 54px;
		height: 2px;
		position: absolute;
		background: #5291fb;
	}

	@media (min-width: @screen-sm-min) {
		font-size: 35px;
		text-align: center;
		padding-bottom: 25px;

		&:before {
			left: 50%;
			width: 86px;
			margin-left: -43px;
		}
	}
}


.mobile_heading {
	margin-bottom: 20px;

	h1 {
		color: #151515;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 10px;
	}

	@media (min-width: @screen-md-min) {
		display: none;
	}
}

.mobile_tag {
	color: #151515;
	padding: 9px 15px;
	font-weight: 600;
	font-size: 1.3rem;
	line-height: 2rem;
	text-align: center;
	background: #ffffff;
	display: inline-block;
	.border-radius(3px);
}


.hide_xs {

	@media (max-width: @screen-xs-max) {
		display: none !important;
	}

}


.hide_md {

	@media (max-width: @screen-md-max) {
		display: none !important;
	}

}


.visible_sm {

	@media (min-width: @screen-md-min) {
		display: none !important;
	}
}

@media (min-width: @screen-sm-min) {

}

@media (min-width: @screen-md-min) {

}

@media (min-width: @screen-lg-min) {

}

@media (min-width: @screen-xl-min) {

}
