@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Light.eot');
	src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
	url('../fonts/SanFrancisco/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SanFrancisco/SFUIDisplay-Light.woff') format('woff'),
	url('../fonts/SanFrancisco/SFUIDisplay-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot');
	src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
	url('../fonts/SanFrancisco/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SanFrancisco/SFUIDisplay-Regular.woff') format('woff'),
	url('../fonts/SanFrancisco/SFUIDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot');
	src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
	url('../fonts/SanFrancisco/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SanFrancisco/SFUIDisplay-Medium.woff') format('woff'),
	url('../fonts/SanFrancisco/SFUIDisplay-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot');
	src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
	url('../fonts/SanFrancisco/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SanFrancisco/SFUIDisplay-Semibold.woff') format('woff'),
	url('../fonts/SanFrancisco/SFUIDisplay-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'SF UI Display';
	src: url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot');
	src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
	url('../fonts/SanFrancisco/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/SanFrancisco/SFUIDisplay-Bold.woff') format('woff'),
	url('../fonts/SanFrancisco/SFUIDisplay-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

// -----------------

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: local('MuseoSansCyrl-300'),
	url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('MuseoSansCyrl-500'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
	src: local('MuseoSansCyrl-700'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
	url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
