.footer {
	color: #fff;
	padding: 15px 0;
	background: #5291fb;

	&__logo {
		width: 172px;
		height: 37px;
		display: block;
		background: url("../img/footer__logo_sm.png") 50% 50% no-repeat;
	}

	&__nav {
		margin-bottom: 15px;

		&_title {
			color: #000;
			display: none;
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2.1rem;
			margin-bottom: 10px;
			text-transform: uppercase;
		}

		&_menu {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {

				> a {
					color: #fff;
					font-weight: 500;
					font-size: 1.5rem;
					line-height: 3.6rem;
					text-decoration: none;

					&:hover {
						color: #fff;
						text-decoration: none;
					}
				}
			}
		}
	}

	&__add {
		margin-bottom: 10px;
	}

	&__append {
		color: #000;
		width: 100%;
		border: none;
		outline: none;
		cursor: pointer;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		text-align: center;
		position: relative;
		padding: 10px 30px;
		white-space: nowrap;
		background: #f4f4f4;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		.border-radius(3px);

		i {
			top: 50%;
			right: 10px;
			width: 24px;
			height: 24px;
			color: #fff;
			padding: 1px 0;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-top: -12px;
			text-align: center;
			font-style: normal;
			position: absolute;
			background: #5291fb;
			display: inline-block;
			.border-radius(50%);
		}

		&:hover {
			color: #000;
			background: #f4f4f4;
		}
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 55px;
		background: #f9f9f9;
		padding-bottom: 60px;

		&__row {
			.flex-display();
			.align-items(flex-start);
		}

		&__append {
			display: none;
		}

		&__info {
			margin: 0;
			width: 320px;
			.flex-order(1);
			.flex-shrink(0);
		}

		&__nav {
			.flex-order(2);
		}

		&__logo {
			width: 234px;
			height: 51px;
			background-image: url("../img/header__logo.png");
		}

		&__nav {
			margin: 0;
			.flex-display();

			&_group {
				width: 200px;
				.flex-shrink(0);
			}

			&_title {
				display: block;
			}

			&_menu {

				> li {

					> a {
						color: #646a7c;

						&:hover {
							color: @color-blue;
						}
					}
				}

			}
		}
	}

	@media (min-width: @screen-md-min) {

		&__info {
			width: 400px;
		}
	}
}

.footer_bottom {
	color: #fff;
	display: none;
	padding: 16px 0;
	font-weight: 300;
	font-size: 1.5rem;
	line-height: 2rem;
	text-align: center;
	background: #0792fe;

	a {
		color: #fff;
		text-decoration: none;

		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__right {
		.flex-display();
		.align-items(center);
		.justify-content(center);
	}

	.counter {
		font-size: 0;
		line-height: 0;
		padding: 0 3px;
		display: inline-block;
	}

	&__right {
		padding-top: 10px;
	}

	@media (min-width: @screen-sm-min) {
		display: block;
	}

	@media (min-width: @screen-md-min) {
		text-align: left;

		&__row {
			.flex-display();
			.align-items(center);
			.justify-content(space-between);
		}

		&__right {
			padding-top: 0;
			margin-right: -2px;
		}
	}
}