.goods {
	margin-bottom: 20px;

	&__image {
		display: block;
		overflow: hidden;
		position: relative;
		.border-radius(4px 4px 0 0);

		&::before {
			content: "";
			display: block;
			padding-top: percentage(9 / 16);
		}

		a {
			top: 0;
			left: 0;
			bottom: 0;
			border: 0;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
		}
	}

	&__content {
		color: #646a7c;
		background: #fff;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2.2rem;
		padding: 10px 10px 5px 15px;
		border: 1px solid #ebebeb;
		.border-radius(0 0 4px 4px);
	}

	&__detail {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
			}

			strong {
				color: #232530;
				font-weight: 600;
			}
		}
	}

	&__info {

	}

	&__price {

		&_title {
			color: #232530;
			display: inline;
			font-weight: 600;
		}

		&_value {
			margin: 0;
			padding: 0;
			list-style: none;
			display: inline;

			li {
				display: inline;
			}
		}
	}

	&__views {
		opacity: 0.43;
		padding-top: 5px;
	}

	&__title {
		color: #252525;
		font-weight: 700;
		font-size: 1.7rem;
		line-height: 2.3rem;

		a {
			color: #252525;
			text-decoration: none;

			&:hover {
				color: #0792fe;
				text-decoration: none;
			}
		}
	}

	@media (min-width: @screen-sm-min) {
		.flex-display();

		&__image {
			width: 300px;
			min-height: 185px;
			.border-radius(3px 0 0 3px);
			.flex-shrink(0);

			&:before {
				display: none;
			}
		}

		&__content {
			padding: 10px 20px 10px 20px;
			.flex-grow(1);
			.border-radius(0 3px 3px 0);
		}

		&__title {
			font-size: 1.8rem;
			line-height: 2.2rem;
		}

		&__price {

			&_title {
				display: inline;
			}

			&_value {
				display: inline;

				span {
					display: inline-block;
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {

		&__image {
			border: 2px solid #26a0fe;
			.border-radius(8px 0 0 8px);
		}

		&__content {
			.border-radius(0 8px 8px 0);
		}
	}

	@media (min-width: @screen-lg-min) {

		&__image {
			width: 260px;
		}

		&__content {

			&_row {
				.flex-display();
				.justify-content(space-between);
			}
		}

		&__detail {
			padding-right: 10px;
			.flex-grow(1);
		}

		&__info {
			width: 230px;
			text-align: right;
			.flex-display();
			.flex-shrink(0);
			.flex-direction(column);
		}

		&__price {
			.flex-grow(1);

			&_title {
				display: block;
			}

			&_value {
				display: block;
			}
		}

		&__views {
			opacity: 1;
			color: #232530;
			font-weight: 600;

			a {
				color: #232530;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

		&__info {
			width: 290px;
		}

		&__price {

			&_value {

				li {
					display: block;
				}
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}

}

.goods_inner {
	padding-bottom: 5px;

	@media (min-width: @screen-lg-min) {
		padding-bottom: 40px;
	}
}

.goods_map {
	margin: 0 -15px;
	height: 270px;

	@media (min-width: @screen-sm-min) {
		margin: 0;
		height: 360px;
	}

	@media (min-width: @screen-lg-min) {
		margin: 0;
		height: 460px;
	}
}

.goods_mobile {
	padding-top: 25px;

	&__heading {
		color: #252525;
		font-weight: 700;
		font-size: 1.7rem;
		line-height: 2.4rem;
		margin-bottom: 30px;

		a {
			color: #252525;
			text-decoration: none;

			&:hover {
				color: #252525;
				text-decoration: none;
			}
		}
	}

	&__content {
		font-size: 1.5rem;
		line-height: 2.8rem;

		ul {
			padding: 0;
			list-style: none;
			margin: 0 -10px 0 0;

			li {
				margin-right: 10px;
				display: inline-block;
			}
		}
	}

	&__title {
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2.8rem;
	}

	@media (min-width: @screen-md-min) {
		display: none;
	}
}