.header {
	top: 0;
	left: 0;
	right: 0;
	z-index: 1200;
	position: fixed;
	background: #fff;
	.box-shadow(0px 2px 4px 0px rgba(0, 0, 0, 0.25));

	&__row {
		padding-top: 5px;
		padding-bottom: 5px;
		height: 60px;
		.flex-display();
		.justify-content(space-between);
		.align-items(center);
	}

	&__toggle {
		width: 28px;
		height: 28px;
		font-size: 0;
		line-height: 0;
		position: relative;
		display: inline-block;

		&:after,
		&:before {
			left: 0;
			z-index: 10;
			content: '';
			width: 28px;
			height: 3px;
			position: absolute;
			display: inline-block;
			background: @color-blue;
			.transition(.3s);
		}

		&:after {
			top: 4px;
		}

		&:before {
			bottom: 3px;
		}

		span {
			left: 0;
			top: 50%;
			z-index: 10;
			width: 28px;
			height: 3px;
			margin-top: -1px;
			position: absolute;
			display: inline-block;
			background: @color-blue;
		}
	}

	&__logo {
		width: 164px;
		height: 36px;
		display: block;
		margin-top: 10px;
		background: url("../img/header__logo_xs.png") 50% 50% no-repeat;
	}

	&__append {
		color: #fff;
		border: none;
		outline: none;
		display: none;
		cursor: pointer;
		font-weight: 600;
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: center;
		position: relative;
		white-space: nowrap;
		background: #0792fe;
		text-decoration: none;
		vertical-align: middle;
		padding: 10px 55px 10px 25px;
		.border-radius(20px);
		.transition(.3s);

		i {
			top: 50%;
			right: 10px;
			width: 24px;
			height: 24px;
			color: #fff;
			padding: 1px 0;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-top: -12px;
			text-align: center;
			font-style: normal;
			position: absolute;
			background: #0375ce;
			display: inline-block;
			.border-radius(50%);
			.transition(.3s);
		}

		&:hover {
			color: #fff;
			background: #0375ce;
			text-decoration: none;
			.transition(.3s);

			i {
				background: #0792fe;
				.transition(.3s);
			}
		}

		&:active {
			background: #0792fe;

			i {
				background: #0375ce;
			}
		}
	}

	&__search {
		width: 360px;
		display: none;

		&_row {
			width: 100%;
			.flex-display();
			.align-items(center);
		}

		&_input {
			margin: 0;
			width: 100%;
			height: 40px;
			outline: none;
			color: #232530;
			background: #fff;
			font-weight: 400;
			font-size: 1.5rem;
			line-height: 2rem;
			padding: 9px 20px;
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #0792fe;
			.placeholder(#b6b7b9);
			.border-radius(20px 0 0 20px);
			.flex-grow(1);

			&:focus,
			&:active {
				outline: none;
			@include placeholder(transparent);
			}

		}

		&_button {
			color: #fff;
			border: none;
			outline: none;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 2rem;
			user-select: none;
			padding: 10px 30px;
			text-align: center;
			white-space: nowrap;
			background: #0792fe;
			display: inline-block;
			vertical-align: middle;
			.border-radius(0 20px 20px 0);
			.transition(.3s);
			.flex-shrink(0);

			&:hover {
				color: #fff;
				background: #0375ce;
				text-decoration: none;
				.transition(.3s);
			}

			&:active {
				background: #0792fe;
			}
		}
	}

	@media (min-width: @screen-sm-min) {

	}

	@media (min-width: @screen-md-min) {
		position: relative;
		.box-shadow(none);

		&__row {
			height: 76px;
		}

		&__toggle {
			display: none;
		}

		&__logo {
			width: 234px;
			height: 51px;
			margin-top: 5px;
			background-image: url("../img/header__logo.png");
		}

		&__append {
			display: inline-block;
		}

		&__search {
			display: block;
		}
	}

	@media (min-width: @screen-lg-min) {

		&__search {
			width: 440px;
		}
	}
}
