.selection {
	overflow: hidden;
	position: relative;

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		overflow: hidden;
		position: absolute;
		background: url("../img/top__image.jpg") 50% 50% no-repeat;
		background-size: cover ;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		filter: blur(5px);
		filter: url('../img/blur.svg#blur'); /* путь к svg */
	}


	&__wrap {
		z-index: 20;
		padding-top: 40px;
		position: relative;
		padding-bottom: 60px;
		background: rgba(0,0,0,0.47);
	}

	&__header {
		color: #fff;
		font-weight: 700;
		line-height: normal;
		font-size: 2.1rem;
		text-align: center;
		margin-bottom: 35px;
	}

	&__item {
		width: 100%;
		padding: 0 5px;
		margin-bottom: 8px;

		&_date {
			width: 50%;
		}
	}

	&__input {
		margin: 0;
		width: 100%;
		height: 40px;
		outline: none;
		color: #858585;
		background: #fff;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		padding: 9px 15px;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid #fff;
		font-family: @font-family-base;
		.placeholder(#858585);
		.border-radius(3px);

		&:focus,
		&:active {
			outline: none;
			.placeholder(transparent);
		}
	}

	&__select {
		padding-right: 30px;
		-webkit-appearance: none;
		background: #fff url("../img/icon__select.png") 100% 50% no-repeat;

		/* for FF */
		-moz-appearance: none;
		text-indent: 0.01px;
		text-overflow: '';
		/* for IE */
		-ms-appearance: none;
		appearance: none!important;
		select::-ms-expand {
			display: none;
		}
	}

	&__form {
		margin: 0 auto;
		max-width: 560px;
	}

	&__row {
		margin: 0 -5px;
		.flex-display();
		.flex-wrap(wrap);
	}

	&__button {
		color: #fff;
		width: 100%;
		cursor: pointer;
		font-size: 15px;
		font-weight: 500;
		line-height: 20px;
		padding: 10px 20px;

		border: none;
		outline: none;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #5291fb;
		display: inline-block;
		vertical-align: middle;
		.border-radius(3px);
		.transition(.2s);

		i {
			display: none;
			margin-right: 10px;
		}

		&:hover {
			color: #fff;
			background: #3a6cfb;
			text-decoration: none;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	@media (min-width: @screen-sm-min) {

		&__wrap {
			padding-top: 60px;
			padding-bottom: 120px;
		}

		&__header {
			font-size: 3.6rem;
			margin-bottom: 60px;
		}

		&__item {

			&_amount {
				width: 50%;
			}
		}
	}

	@media (min-width: @screen-lg-min) {
		background: url("../img/top__image.jpg") 50% 50% no-repeat;
		background-size: cover ;

		&:before {
			display: none;
		}

		&__wrap {
			padding-top: 115px;
			padding-bottom: 135px;
			background: transparent;
		}

		&__header {
			font-size: 5.5rem;
			margin-bottom: 110px;
			text-shadow: 0px 3px 13px rgba(0, 0, 0, 0.5);
		}

		&__form {
			width: 100%;
			background: #fff;
			padding: 30px 30px;
			max-width: 1230px;
			.border-radius(3px);
		}

		&__row {
			margin: 0 -18px;
			.flex-wrap(nowrap);
			.align-items(center);
		}

		&__item {
			width: 182px;
			padding: 0 18px;
			margin-bottom: 0;
			.flex-shrink(0);

			&_date {
				width: 182px;
			}

			&_amount {
				width: 182px;
			}

			&_button {
				width: 234px;
				padding-left: 46px;
			}
		}

		&__input {
			height: 42px;
			border: none;
			color: #1e1e1e;
			background: #fff;
			padding: 11px 0 10px 0;
			border-bottom: 1px solid #b2b2b2;
			.placeholder(#1e1e1e);
			.border-radius(0);

			&:focus {
				.placeholder(transparent);
			}
		}

		&__select {
			padding-left: 5px;
			padding-right: 15px;
			background: #fff url("../img/icon__select.png") 107% 50% no-repeat;
		}

		&__button {
			font-size: 1.7rem;
			padding: 15px 40px;
			background-color: #0792fe;
			.border-radius(25px);

			i {
				display: inline-block;
			}

			&:hover {
				background-color: #1566fe;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}

}




