.why {
	color: #fff;
	padding-top: 40px;
	background: url("../img/why__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__heading {
		color: #fff;
		max-width: 400px;
		font-weight: 700;
		font-size: 2.1rem;
		text-align: center;
		margin: 0 auto 40px auto;
	}

	&__row {
		margin: 0 auto;
		max-width: 300px;
	}

	&__item {
		color: #cbcbcb;
		text-align: center;
		font-size: 1.3rem;
		line-height: 1.8rem;
		margin-bottom: 40px;

		&_icon {
			width: 79px;
			height: 79px;
			display: block;
			overflow: hidden;
			background: #5291fb;
			margin: 0 auto 15px auto;
			.border-radius(50%);
		}

		&_title {
			color: #fff;
			font-weight: 700;
			font-size: 1.5rem;
			line-height: 2.2rem;
			margin-bottom: 10px;
		}
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 100px;

		&__heading {
			width: 620px;
			max-width: inherit;
			font-size: 3.5rem;
			margin-bottom: 60px;
		}

		&__row {
			width: 100%;
			max-width: 100%;
			.flex-display();
			.justify-content(space-between);
		}

		&__item {
			font-size: 1.5rem;
			line-height: 2.4rem;
			margin-bottom: 0;
			width: calc(33.33% - 15px);

			&_icon {
				background: #0792fe;
				margin-bottom: 20px;
			}

			&_title {
				margin-bottom: 15px;
			}
		}
	}

	@media (min-width: @screen-md-min) {

		&__item {

			&_title {
				font-size: 20px;
			}
		}
	}

	@media (min-width: @screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 130px;

		&__item {
			width: calc(33.33% - 40px);
		}
	}

	@media (min-width: @screen-xl-min) {

	}

}