.promo {
	background: #fff;
	padding-top: 50px;
	padding-bottom: 80px;

	.heading {
		max-width: 200px;
		margin-bottom: 30px;
	}

	&__wrap {
		max-width: 360px;
		position: relative;
	}

	&__arrow {
		top: 200px;
		z-index: 100;
		position: absolute;

		&_prev {
			left: -15px;
			opacity: 0;
			visibility: hidden;
		}

		&_next {
			right: -15px;
		}
	}

	&__slider {

		.swiper-pagination {
			left: auto;
			right: auto;
			bottom: auto;
			font-size: 0;
			line-height: 0;
			position: relative;
			padding-top: 20px;
			text-align: center;
		}

		.swiper-pagination-bullet {
			width: 8px;
			height: 8px;
			outline: none;
			cursor: pointer;
			margin: 0 3px;
			opacity: 1;
			background: #e8e8e8;
			.border-radius(50%);
		}

		.swiper-pagination-bullet-active {
			background: #5291fb;
		}
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 100px;
		padding-bottom: 120px;

		.heading {
			max-width: inherit;
			margin-bottom: 50px;
		}

		&__wrap {
			width: 100%;
			max-width: inherit;
		}

		&__arrow {
			top: 50%;
			margin-top: -40px;

			&_prev {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	@media (min-width: @screen-md-min) {

	}

	@media (min-width: @screen-lg-min) {
		padding-top: 130px;
		padding-bottom: 180px;
	}

	@media (min-width: 1300px) {

		&__arrow {

			&_prev {
				left: -50px;
			}

			&_next {
				right: -50px;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}
}


.promo_item {

	&__image {
		z-index: 5;
		height: 215px;
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		.border-radius(3px 3px 0 0);
	}

	&__content {
		z-index: 1;
		color: #b9b9b9;
		font-size: 14px;
		margin-top: -1px;
		padding: 15px 10px;
		border: 1px solid #eee;
		.border-radius(0 0 3px 3px);
	}

	&__title {
		color: #232323;
		font-weight: 700;
		font-size: 1.74rem;
		margin-bottom: 10px;
	}

	&__text {
		max-height: 255px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 16px;
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 7px;
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: @screen-sm-min) {
		.flex-display();
		.justify-content(space-between);

		&__image {
			width: 290px;
			height: auto;
			.flex-shrink(0);
		}

		&__content {
			padding: 20px 25px;
			margin: 0 0 0 -1px;
			.border-radius(0 3px 3px 0);
			.flex-grow(1);
		}

		&__buttons {
			margin: 0 -10px;
			.flex-display();

			> li {
				width: 50%;
				margin: 0;
				padding: 0 10px;
			}
		}
	}

	@media (min-width: @screen-md-min) {

		&__image {
			width: 390px;
		}

		&__content {
			font-size: 17px;
			padding: 35px 20px 20px 40px;
		}

		&__title {
			font-size: 3rem;
			margin-bottom: 15px;
		}

		&__text {
			max-height: 360px;
			margin-bottom: 20px;
		}

		&__buttons {

			> li {
				width: 50%;
			}
		}
	}

	@media (min-width: @screen-lg-min) {

		&__buttons {

			> li {
				width: 285px;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}
}
