.objects {
	z-index: 10;
	padding-top: 35px;
	padding-bottom: 20px;
	position: relative;
	background: #fff;

	.heading {
		max-width: 250px;
		margin-bottom: 40px;
	}

	&__mobile {

		&_item {
			max-width: 360px;
			margin-bottom: 20px;
		}
	}

	&__desktop {
		display: none;
		position: relative;

		&_slider {
			margin: 0 auto;
		}
	}

	&__slider {

		.swiper-slide {
			padding: 45px 15px 15px 15px;
		}
	}

	&__arrow {
		top: 50%;
		margin-top: -5px;
		position: absolute;

		&_prev {
			left: -15px;
		}

		&_next {
			right: -15px;
		}
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 85px;
		padding-bottom: 60px;
		background: #f6f6f6;

		.heading {
			max-width: inherit;
			margin-bottom: 15px;
		}

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;

			&_slider {
				margin: 0 -15px;
				width: auto;
			}
		}
	}

	@media (min-width: @screen-md-min) {

	}

	@media (min-width: @screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 10px;

		&__desktop {
			margin-bottom: -85px;

			&_slider {
				margin: 0 -15px;
				width: auto;
			}
		}

		&__arrow {

			&_prev {
				left: -15px;
			}

			&_next {
				right: -15px;
			}
		}
	}

	@media (min-width: 1300px) {

		&__arrow {

			&_prev {
				left: -50px;
			}

			&_next {
				right: -50px;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}

}

.object_intro {
	top: 0;
	height: 224px;
	max-width: 340px;
	overflow: hidden;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	.border-radius(4px);
	.box-shadow(0px 5px 15px 0px rgba(0, 0, 0, 0.2));
	.transition(.3s);

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		content: '';
		opacity: 0.75;
		background: #2b2b2b;
		position: absolute;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&:after {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		content: '';
		opacity: 0;
		visibility: hidden;
		position: absolute;
		background: rgb(7,146,254);
		background: linear-gradient(0deg, rgba(7,146,254,1) 0%, rgba(9,9,121,0) 100%);
		.transition(.3s);
	}

	&__content {
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		color: #fff;
		padding: 20px 12px;
		position: absolute;
	}

	&__title {
		color: #fff;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		margin-bottom: 5px;
	}

	&__place {
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 25px;
	}

	&__info {
		.flex-display();
		.align-items(center);
		.justify-content(space-between);
	}

	&__button {
		color: #fff;
		cursor: pointer;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2rem;
		padding: 7px 20px;
		text-align: center;
		background: #5291fb;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		.border-radius(17px);
		.transition(.3s);

		&:hover {
			color: #fff;
			background: #272727;
			text-decoration: none;
			.transition(.3s);
		}
	}

	&__price {
		color: #fff;
		font-weight: 700;
		font-size: 1.6rem;
		line-height: 2rem;
		display: inline-block;
		border-bottom: 1px solid #fff;
	}

	&:hover {

		&:after {
			opacity: 1;
			visibility: visible;
			.transition(.3s);
		}

		.object_intro__button {
			background: #272727;
			.transition(.3s);
		}
	}

	@media (min-width: @screen-sm-min) {
		width: 100%;
		height: 300px;
		max-width: inherit;
	}

	@media (min-width: @screen-md-min) {

		&:hover {
			top: -20px;
			.transition(.3s);
		}
	}

	@media (min-width: @screen-lg-min) {
		height: 360px;

		&__title {
			color: #fff;
			font-size: 1.9rem;
			line-height: 2.4rem;
			margin-bottom: 5px;
		}

		&__place {
			font-size: 1.7rem;
			line-height: 2rem;
			margin-bottom: 30px;
		}

		&__content {
			padding: 30px;
		}

		&__button {
			font-size: 1.5rem;
			padding: 10px 25px;
			.border-radius(20px);
		}

		&__price {
			font-size: 1.9rem;
			line-height: 2.3rem;
		}
	}

	@media (min-width: @screen-xl-min) {
		height: 360px;
	}
}
