.discount {
	color: #fff;
	background: url("../img/discount__bg.jpg") 50% 50% no-repeat;
	background-size: cover;

	&__row {
		padding-top: 25px;
		padding-bottom: 20px;
	}

	&__content {
		margin-bottom: 10px;

		&_title {
			font-weight: 700;
			font-size: 2.4rem;
			line-height: 2.6rem;
			margin-bottom: 5px;
		}

		&_text {
			font-weight: 500;
			font-size: 1.6rem;
			line-height: 2.4rem;
			text-transform: uppercase;
		}
	}

	&__button {
		color: #fff;
		width: 100%;
		border: none;
		outline: none;
		max-width: 360px;
		cursor: pointer;
		font-size: 14px;
		font-weight: 600;
		line-height: 20px;
		padding: 9px 20px;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #5291fb;
		display: inline-block;
		vertical-align: middle;
		.border-radius(3px);
		.transition(.2s);

		i {
			display: none;
			margin-right: 10px;
		}

		&:hover {
			color: #fff;
			background: #3a6cfb;
			text-decoration: none;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	@media (min-width: @screen-sm-min) {

		&__row {
			height: 140px;
			padding-top: 15px;
			padding-bottom: 15px;
			.flex-display();
			.align-items(center);
			.justify-content(space-between);
		}

		&__content {
			margin-bottom: 0;

			&_title {
				font-size: 3.4rem;
				line-height: 3.6rem;
				margin-bottom: 10px;
			}

			&_text {
				font-size: 2.4rem;
				line-height: 3.4rem;
			}
		}

		&__button {
			width: auto;
			font-size: 1.7rem;
			line-height: 2rem;
			max-width: inherit;
			padding: 13px 60px;
			background: transparent;
			border: 2px solid #0792fe;
			.border-radius(25px);

			&:hover {
				border-color: #0792fe;
			}
		}
	}
}