.resort {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #f0f0f0;

	.heading{
		display: none;
	}

	&__desktop {
		display: none;
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 70px;
		padding-bottom: 100px;

		.heading {
			display: block;
			margin-bottom: 45px;
		}
	}

	@media (min-width: @screen-md-min) {
		background: #f6f6f6;

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}
	}

	@media (min-width: @screen-lg-min) {
		padding-top: 100px;
		padding-bottom: 145px;
	}

	@media (min-width: @screen-xl-min) {

	}

}

.resort_mobile {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		overflow: hidden;
		margin-bottom: 2px;

		&.active {

			.resort_mobile__nav {
				color: #fff;
				background: #0792fe;

				i {
					.rotate(180deg);
					.transition(.3s);
				}
			}
		}
	}

	&__nav {
		height: 41px;
		color: #151515;
		cursor: pointer;
		background: #fff;
		padding: 2px 15px;
		font-size: 1.5rem;
		line-height: 1.9rem;
		.border-radius(3px);
		.flex-display();
		.justify-content(space-between);
		.align-items(center);

		span {
			font-weight: 600;
			display: inline-block;
		}

		i {
			font-size: 13px;
			.transition(.3s);
		}
	}

	&__content {
		display: none;
		margin-top: 2px;
		overflow: hidden;
		background: #0792fe;
		.border-radius(3px);

	}

	&__place {
		margin: 0;
		padding: 5px 0;
		list-style: none;

		> li {

			a {
				width: 100%;
				color: #fff;
				padding: 8px 15px;
				font-size: 1.5rem;
				line-height: 2rem;
				text-decoration: none;
				display: inline-block;

				&:hover {
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}


.resort_desktop {
	.flex-display();

	&__nav {
		width: 260px;
		.flex-shrink(0);

		a {
			height: 50px;
			color: #0d0d0d;
			background: #fff;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			padding: 5px 20px;
			margin-bottom: 2px;
			text-decoration: none;
			.border-radius(3px);
			.flex-display();
			.align-items(center);
			.justify-content(space-between);

			&:last-child {
				margin-bottom: 0;
			}

			span {
				display: inline-block;
			}

			i {
				font-size: 1.4rem;
				line-height: 1.4rem;
			}

			&:hover {
				color: #fff;
				background: #0792fe;
				text-decoration: none;
			}

			&.active {
				color: #fff;
				background: #0792fe;
			}
		}
	}

	&__content {
		padding-left: 20px;
		.flex-grow(1);
		.flex-display();
		.flex-direction(column);
	}

	&__place {
		background: #0792fe;
		padding: 12px 25px;
		margin-bottom: 15px;
		.border-radius(3px);

		ul {
			padding: 0;
			margin: 0 -18px;
			list-style: none;
			font-size: 1.4rem;
			line-height: 2rem;
			text-transform: uppercase;
			.flex-display();
			.flex-wrap(wrap);

			li {
				padding: 10px 18px;

				a {
					color: #fff;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;
					border-bottom: 1px solid transparent;

					&:hover {
						color: #fff;
						text-decoration: none;
						border-bottom-color: #97c6fe;
					}
				}
			}
		}
	}

	&__image {
		overflow: hidden;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		.flex-grow(1);
		.border-radius(3px);
		.transition(.3s);
	}

	&__tab {
		display: none;

		&.active {
			display: block;
		}
	}

	&__item {
		display: none;

		&.active {
			height: 100%;
			.flex-display();
			.flex-direction(column);
		}
	}

	&__info {
		color: #fff;
		padding: 10px 15px;
		background: #0792fe;
		.border-radius(3px);
	}

	&__tiles {
		position: relative;
		.flex-grow(1);

		&.invert {

			.resort_desktop__cat {
				opacity: 0;
				visibility: hidden;
			}

			.resort_desktop__city {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__cat {
		top: 0;
		left: -2px;
		right: -2px;
		bottom: -2px;
		margin: 0;
		padding: 2px 0 0 0;
		list-style: none;
		position: absolute;
		.flex-display();
		.flex-wrap(wrap);
		.align-items(flex-start);

		> li {
			width: 25%;
			height: 25%;
			padding: 2px;

			> a {
				color: #fff;
				width: 100%;
				height: 100%;
				font-weight: 600;
				font-size: 1.6rem;
				display: block;
				overflow: hidden;
				position: relative;
				text-decoration: none;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				.border-radius(3px);
				.transition(.3s);

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					content: '';
					position: absolute;
					background: rgba(0,0,0,0.4);
					.transition(.3s);
				}

				> span {
					z-index: 5;
					left: 10px;
					right: 10px;
					bottom: 10px;
					text-align: right;
					position: absolute;
					display: inline-block;
				}

				&:hover {
					color: #fff;
					text-decoration: none;
					.transition(.3s);

					&:before {
						background: rgba(0,0,0,0.8);
						.transition(.3s);
					}
				}
			}

			> span {
				color: #fff;
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				font-weight: 600;
				font-size: 1.6rem;
				position: relative;
				background: @color-blue;
				.border-radius(3px);
			}
		}

	}

	&__city {
		top: 0;
		left: 0;
		right: 0;
		bottom: -2px;
		margin: 0;
		padding: 4px 0 2px 0;
		list-style: none;
		position: absolute;
		.flex-display();
		.flex-direction(column);


		opacity: 0;
		visibility: hidden;
	}

	&__head {
		color: #fff;
		font-weight: 700;
		font-size: 16px;
		padding: 5px 15px;
		background: #0792fe;
		.border-radius(3px);
	}


	&__links {
		padding: 2px 0 0 0;
		list-style: none;
		margin: 0 -2px;
		.flex-display();
		.flex-wrap(wrap);
		.flex-grow(1);

		> li {
			width: 25%;
			height: 33.33%;
			padding: 2px;

			> a {
				color: #fff;
				width: 100%;
				height: 100%;
				font-weight: 600;
				font-size: 1.6rem;
				display: block;
				overflow: hidden;
				position: relative;
				text-decoration: none;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				background-size: cover;
				.border-radius(3px);
				.transition(.3s);

				&:before {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 2;
					content: '';
					position: absolute;
					background: rgba(0,0,0,0.4);
					.transition(.3s);
				}

				> span {
					z-index: 5;
					left: 10px;
					right: 10px;
					bottom: 10px;
					text-align: right;
					position: absolute;
					display: inline-block;
				}

				&:hover {
					color: #fff;
					text-decoration: none;
					.transition(.3s);

					&:before {
						background: rgba(0,0,0,0.8);
						.transition(.3s);
					}
				}
			}

			> span {
				color: #fff;
				width: 100%;
				height: 100%;
				display: block;
				overflow: hidden;
				font-weight: 600;
				font-size: 1.6rem;
				position: relative;
				background: @color-blue;
				.border-radius(3px);
			}
		}
	}
}

