.comments {
	z-index: 5;
	background: #fff;
	padding-top: 35px;
	position: relative;
	padding-bottom: 40px;

	.heading {
		max-width: 250px;
		margin-bottom: 30px;
	}

	&__wrap {
		max-width: 360px;
		position: relative;
	}

	&__slider {
		margin: 0 auto;
	}

	&__item {
		background: #fff;
		overflow: hidden;
		position: relative;
		.border-radius(4px);

		&_image {
			position: relative;
		}

		&_content {
			color: #666666;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.9rem;
			padding: 10px 15px 20px 15px;
			border: 1px solid #efefef;
			border-top: none;
			.border-radius(0 0 4px 4px);
		}

		&_date {
			left: 15px;
			bottom: 15px;
			color: #fff;
			z-index: 10;
			padding: 5px 8px;
			font-size: 1.2rem;
			line-height: 1.4rem;
			position: absolute;
			background: rgba(82,145,251,0.9);
			.border-radius(3px);
		}

		&_title {
			color: #363636;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 2rem;
			margin-bottom: 5px;
		}

		&_author {
			color: #989898;
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.9rem;
			margin-bottom: 15px;

			i {
				margin-right: 8px;
			}
		}

		&_text {
			margin-bottom: 10px;
		}

		&_link {
			color: #5291fb;
			text-decoration: none;

			&:hover {
				color: #272727;
				text-decoration: none;
			}
		}
	}

	&__arrow {
		top: 50%;
		z-index: 100;
		margin-top: -40px;
		position: absolute;

		&_next {
			right: -15px;
		}

		&_prev {
			left: -15px;
		}
	}

	@media (min-width: @screen-sm-min) {
		padding-top: 80px;
		padding-bottom: 120px;

		.heading {
			max-width: inherit;
			margin-bottom: 50px;
		}

		&__wrap {
			max-width: inherit;
		}

		&__arrow {
			top: 180px;
			margin-top: 0;
		}
	}

	@media (min-width: @screen-md-min) {

		&__arrow {
			top: 155px;
		}
	}

	@media (min-width: @screen-lg-min) {
		padding-top: 200px;

		&__arrow {
			top: 195px;
		}
	}

	@media (min-width: 1300px) {

		&__arrow {

			&_next {
				right: -50px;
			}

			&_prev {
				left: -50px;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

	}
}