
.hotel {
	width: 100%;
	max-width: 100%;
	position: relative;

	@media (min-width: @screen-lg-min) {
		.flex-display();
		.flex-direction(column);

		.hotel_main {
			.flex-order(1);
		}

		.hotel_block_description {
			.flex-order(2);
		}

		.hotel_block_distance {
			.flex-order(3);
		}

		.hotel_block_booking {
			.flex-order(4);
		}

		.hotel_block_room {
			.flex-order(5);
		}

		.hotel_block_price {
			.flex-order(6);
		}

		.hotel_map {
			.flex-order(7);
		}

		.hotel_comments {
			.flex-order(8);
		}
	}
}

.hotel_map {
	margin-bottom: 40px;

	&__header {
		color: #232323;
		font-weight: 700;
		font-size: 2.1rem;
		position: relative;
		margin-bottom: 35px;
		padding-bottom: 15px;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 54px;
			height: 2px;
			position: absolute;
			background: #5291fb;
		}
	}

	&__content {
		height: 280px;
		margin: 0 -15px;
	}


	@media (min-width: @screen-sm-min) {

		&__content {
			margin: 0;
			height: 360px;
		}
	}

	@media (min-width: @screen-lg-min) {
		margin-bottom: 60px;

		&__content {
			margin: 0;
			height: 440px;
		}

		&__header {
			color: #232323;
			font-weight: 700;
			font-size: 2.3rem;
			line-height: 3rem;
			text-align: center;
			margin-bottom: 15px;
			padding: 5px 0;

			&:before {
				display: none;
			}
		}
	}
}

.hotel_comments {
	position: relative;

	&__header {
		color: #232323;
		font-weight: 700;
		font-size: 2.1rem;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 54px;
			height: 2px;
			position: absolute;
			background: #5291fb;
		}
	}

	&__add {
		width: 100%;
		color: #232323;
		outline: none;
		position: relative;
		cursor: pointer;
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 2rem;
		padding: 10px 30px;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: transparent;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 20px;
		border: 1px solid #c4c5cb;
		.border-radius(5px);
		.transition(.2s);

		i {
			top: 50%;
			right: 10px;
			width: 24px;
			height: 24px;
			color: #fff;
			padding: 1px 0;
			font-size: 1.8rem;
			line-height: 2rem;
			margin-top: -12px;
			text-align: center;
			font-style: normal;
			position: absolute;
			background: #5291fb;
			display: inline-block;
			.border-radius(50%);
		}

		&:hover {
			color: #232323;
			background: transparent;
			text-decoration: none;
			border-color: #232323;
			.transition(.2s);
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	&__content {
		margin: 0;
		padding: 0;
		font-size: 1.4rem;
		list-style: none;

		> li {
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #efefef;

			&:last-child {
				border-bottom: none;
			}
		}
	}

	&__heading {
		margin-bottom: 8px;
	}

	&__author {
		color: #9a9a9a;
		font-weight: 600;
		font-size: 1.6rem;
		margin-bottom: 5px;

		strong {
			color: #1d1d1d;
			font-weight: 700;
			margin-right: 8px;
		}
	}

	&__date {
		color: #1d1d1d;
		font-weight: 500;
	}

	&__text {
		color: #b3b3b3;
	}

	.btn_border {
		width: 100%;
	}

	&__content {

	}

	@media (min-width: @screen-sm-min) {

		&__add {
			top: 0;
			right: 0;
			width: auto;
			color: #fff;
			border: none;
			padding-left: 25px;
			padding-right: 60px;
			position: absolute;
			background: #0792fe;
			.border-radius(20px);

			i {
				color: #fff;
				background: #0375ce;
			}

			&:hover {
				color: #fff;
				background: #0375ce;
				text-decoration: none;
				.transition(.3s);

				i {
					background: #0792fe;
					.transition(.3s);
				}
			}
		}
	}

	@media (min-width: @screen-lg-min) {

		&__header {
			color: #232323;
			font-weight: 700;
			font-size: 2.3rem;
			line-height: 3rem;
			text-align: center;
			margin-bottom: 15px;
			padding: 5px 0;

			&:before {
				display: none;
			}
		}

		&__content {
			margin: 0;
			padding: 0;
			font-size: 1.5rem;
			list-style: none;

			> li {
				padding: 25px 30px;
				margin-bottom: 20px;
				border-bottom: none;
				background: #f6f7f8;
				.border-radius(4px);
			}
		}

		&__heading {
			.flex-display();
			.align-items(center);
		}

		&__author {
			font-weight: 600;
			font-size: 1.8rem;
			line-height: 2rem;
			margin: 0 25px 0 0;
			display: inline-block;

			strong {
				color: #0792fe;
			}
		}

		&__date {
			margin: 0;
			color: #878787;
			font-size: 1.6rem;
			line-height: 2rem;
			display: inline-block;
		}
	}
}

.hotel_block {
	margin-bottom: 40px;

	&__title {
		color: #232323;
		font-weight: 700;
		font-size: 2.1rem;
		position: relative;
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 54px;
			height: 2px;
			position: absolute;
			background: #5291fb;
		}
	}

	&__content {
		color: #1e1e1e;
		font-weight: 500;
		font-size: 1.4rem;
	}

	&_price {

		.hotel_block__title {
			height: 60px;
			margin-left: -15px;
			margin-right: -15px;
			background: #e9e9e9;
			font-weight: 700;
			font-size: 1.4rem;
			line-height: 1.8rem;
			padding: 5px 15px;
			text-align: center;
			text-transform: uppercase;
			.flex-display();
			.flex-direction(column);

			&:before {
				display: none;
			}

			span {
				width: 240px;
				display: block;
				margin: auto;
			}
		}
	}

	&_room {

		.hotel_block__title {
			color: #5291fb;
		}
	}

	@media (min-width: @screen-sm-min) {

		&_price {

			.hotel_block__title {
				color: #222;
				height: 48px;
				margin-left: 0;
				margin-right: 0;
				background: #eaeaea;
				font-weight: 700;
				font-size: 1.4rem;
				line-height: 1.8rem;
				padding: 5px 15px;
				text-align: center;
				text-transform: uppercase;
				.flex-display();
				.flex-direction(column);

				&:before {
					display: none;
				}

				span {
					width: 100%;
					display: block;
					margin: auto;
				}
			}
		}
	}

	@media (min-width: @screen-lg-min) {
		margin-bottom: 20px;

		&__title {
			color: #fff;
			padding: 14px 10px;
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 2rem;
			text-align: center;
			background: #aeafaf;
			margin-bottom: 0;
			text-transform: uppercase;

			&:before {
				display: none;
			}
		}

		&_room {

			.hotel_block__title {
				color: #fff;
				background: #0792fe;
			}
		}

		&__content {
			font-size: 1.5rem;
			background: #f6f6f6;
			padding: 15px 20px 20px 15px;
			.border-radius(0 0 3px 3px);
		}

	}
}

.hotel_distance {
	color: #1e1e1e;
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 2.4rem;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	@media (min-width: @screen-sm-min) {
		.flex-display();

		ul {
			width: 330px;
			padding-right: 30px;
		}
	}
}

.hotel_price {
	margin: 0;
	padding: 0;
	color: #272727;
	font-size: 1.5rem;
	line-height: 1.9rem;
	list-style: none;

	> li {
		height: 42px;
		border-bottom: 1px solid #eaeaea;
		.flex-display();
		.justify-content(space-between);
		.align-items(center);

		&:last-child {
			border-bottom: none;
		}

		strong {
			font-weight: 700;
			display: inline-block;
		}

		span {
			color: #5291fb;
			font-weight: 600;
			padding-left: 5px;
			display: inline-block;
		}
	}

	@media (min-width: @screen-lg-min) {
		font-size: 1.4rem;
		margin: 0 -5px;
		.flex-display();
		.justify-content(space-between);

		> li {
			padding: 0 5px;
			height: auto;
			display: block;
			white-space: nowrap;
			border-bottom: none;

			strong {
				display: block;
				font-size: 1.3rem;
				margin-bottom: 5px;
			}

			span {
				display: block;
			}
		}
	}

	@media (min-width: @screen-xl-min) {

		> li {

			strong {
				font-size: 1.4rem;
			}
		}
	}
}

.hotel_room {

	&__mobiletitle {
		color: #fff;
		left: 15px;
		bottom: 10px;
		z-index: 50;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.2rem;
		position: absolute;
	}

	&__media {
		margin-bottom: 15px;
	}

	&__gallery {
		position: relative;
		margin: 0 -15px 10px -15px;

	}

	&__thumbs {
		margin-right: -15px;
	}

	&__thumb {
		display: block;
		overflow: hidden;
		position: relative;
		.border-radius(5px);
	}

	.swiper-slide-thumb-active {

		.hotel_room__thumb {

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				display: block;
				position: absolute;
				border: 2px solid #5291fb;
				.border-radius(5px);
			}
		}
	}

	&__content {
		color: #646a7c;
		font-weight: 500;
		font-size: 1.3rem;
		line-height: 2rem;
	}

	&__title {
		display: none;
		font-size: 1.4rem;
		line-height: 2rem;

		strong {
			font-size: 1.9rem;
			line-height: 2rem;
		}
	}

	&__info {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 3px;

			&:last-child {
				margin-bottom: 0;
			}

			strong {
				color: #1e1e1e;
				font-weight: 600;
			}
		}
	}

	@media (min-width: @screen-sm-min) {
		.flex-display();

		&__gallery {
			margin: 0 0 10px 0;
		}

		&__media {
			width: 50%;
			margin-bottom: 0;
			.flex-shrink(0);
		}

		&__content {
			width: 50%;
			padding-left: 30px;
			.flex-shrink(0);
		}

		&__thumbs {
			margin-right: 0;
		}
	}

	@media (min-width: @screen-lg-min) {

		&__media {
			width: 360px;
		}

		&__content {
			font-size: 1.4rem;
			line-height: 2.2rem;
			.flex-grow(1);
		}

		&__thumbs {
			display: none;
		}

		&__mobiletitle {
			display: none;
		}

		&__title {
			display: block;
			margin-bottom: 5px;

			strong {
				font-weight: 600;
				color: #0792fe;
			}
		}
	}
}

.hotel_main {
	margin-bottom: 40px;

	&__left {
		max-width: 440px;
		margin-bottom: 20px;
	}

	&__mobile_heading {
		color: #5291fb;
		font-weight: 600;
		font-size: 1.8rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}

	&__heading {
		display: none;
		color: #5291fb;
		font-weight: 600;
		font-size: 2rem;
		line-height: 2.2rem;
		margin-bottom: 10px;
	}

	&__text {
		color: #646a7c;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2rem;
		margin-bottom: 15px;
	}

	&__contact {
		margin: 0 0 25px 0;
		padding: 0;
		color: #666a7a;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.6rem;
		list-style: none;

		> li {
			margin-bottom: 5px;
			background-position: 0 6px;
			background-repeat: no-repeat;

			strong {
				color: #272727;
				font-weight: 500;
				padding-left: 17px;
				display: inline-block;
			}

			a {
				color: #5291fb;
				text-decoration: none;

				&:hover {
					color: #5291fb;
					text-decoration: none;
				}
			}

			&.contact_address {
				background-image: url("../img/icon__placemark.png");
			}

			&.contact_phone {
				background-image: url("../img/icon__phone.png");
			}

			&.contact_emain {
				background-position: 0 9px;
				background-image: url("../img/icon__email.png");
			}
		}
	}

	&__gallery {
		margin-bottom: 7px;

		a {
			display: block;
			overflow: hidden;
			.border-radius(6px);
		}
	}

	&__thumbs {
		position: relative;
	}

	&__thumb {
		display: block;
		overflow: hidden;
		position: relative;
		.border-radius(5px);
	}

	.swiper-slide-thumb-active {

		.hotel_main__thumb {

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				content: '';
				z-index: 10;
				display: block;
				position: absolute;
				border: 2px solid #5291fb;
				.border-radius(5px);
			}
		}
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 10px;
		}

		.btn {
			width: 100%;
		}
	}

	.slide_nav_prev,
	.slide_nav_next {
		top: 50%;
		outline: none;
		z-index: 50;
		color: #fff;
		width: 28px;
		height: 28px;
		cursor: pointer;
		padding: 7px 0;
		font-size: 14px;
		margin-top: -14px;
		text-align: center;
		line-height: 14px;
		background: #0792fe;
		position: absolute;
		display: inline-block;
		text-decoration: none;
		.border-radius(50%);
	}

	.slide_nav_prev {
		left: 5px;
	}

	.slide_nav_next {
		right: 5px;
	}

	.thumbs_nav_next {
		top: 50%;
		right: 0;
		outline: none;
		z-index: 50;
		color: #fff;
		width: 28px;
		height: 28px;
		cursor: pointer;
		padding: 7px 0;
		font-size: 14px;
		margin-top: -14px;
		text-align: center;
		line-height: 14px;
		background: #0792fe;
		position: absolute;
		display: none;
		text-decoration: none;
		.border-radius(50%);
	}

	&__info {
		display: none;
		color: #646a7c;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.8rem;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}

				strong {
					color: #222222;
					font-weight: 500;
				}
			}
		}
	}

	@media (min-width: @screen-sm-min) {
		.flex-display();

		&__mobile_heading {
			display: none;
		}

		&__heading {
			display: block;
		}

		&__left {
			width: 50%;
			margin-bottom: 0;
			.flex-shrink(0);
		}

		&__right {
			width: 50%;
			padding-left: 30px;
			.flex-shrink(0);
		}
	}

	@media (min-width: @screen-lg-min) {
		margin-bottom: 20px;

		&__left {
			z-index: 20;
			width: 505px;
			max-width: inherit;
			position: relative;
		}

		&__right {
			z-index: 1;
			width: 365px;
			position: relative;
		}

		&__gallery {
			margin-bottom: 20px;
		}

		&__thumbs {
			padding-right: 60px;
			margin-right: -365px;
		}

		&__buttons {
			margin: 0 -8px;
			.flex-display();
			.align-items(center);

			> li {
				margin: 0;
				width: 50%;
				padding: 0 8px;
			}
		}

		.slide_nav_prev,
		.slide_nav_next {
			display: none;
		}

		.thumbs_nav_next {
			display: inline-block;
		}
	}

	@media (min-width: @screen-xl-min) {

		&__right {
			width: 635px;
			padding-left: 40px;
		}

		&__thumbs {
			margin-right: -635px;
		}

		&__buttons {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid #e5e5e5;
		}

		&__info {
			.flex-display();
			.justify-content(space-between);

			ul {

				&:first-child {
					width: 290px;
				}
			}
		}
	}
}