.nav_mobile {
	top: 0;
	right: 0;
	bottom: 0;
	width: 260px;
	z-index: 1500;
	position: fixed;
	background: #fff;
	overflow-y: auto;
	padding: 15px 0;
	margin-right: -300px;
	.box-shadow(0px 5px 6px 0px rgba(0, 0, 0, 0.45));
	.transition(.3s);

	> ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {

			> a {
				width: 100%;
				color: #0792fe;
				font-weight: 400;
				font-size: 1.5rem;
				line-height: 2rem;
				padding: 8px 20px;
				text-decoration: none;
				display: inline-block;

				&:hover {
					color: #0792fe;
					text-decoration: none;
				}

				i {
					margin-left: 5px;
				}

			}
		}
	}

	@media (min-width: @screen-sm-min) {
		width: 400px;
		margin-right: -430px;
	}

	@media (min-width: @screen-md-min) {
		display: none;
	}
}

.nav_open {

	.nav_mobile {
		margin-right: 0;
		.transition(.3s);
	}

	.header__toggle {

		span {
			opacity: 0;
			visibility: hidden;
		}

		&:after {
			top: 13px;
			.rotate(45deg);
			.transition(.3s);
		}

		&:before {
			bottom: 12px;
			.rotate(-45deg);
			.transition(.3s);
		}
	}
}

.nav {
	color: #fff;
	display: none;
	z-index: 1000;
	position: relative;
	background: #0792fe;

	&__container {
		height: 50px;
		position: relative;
	}

	&__line {
		z-index: 30;
		display: none;
		position: relative;

		> ul {
			padding: 0;
			margin: 0 -5px;
			list-style: none;
			font-size: 1.3rem;
			line-height: 2rem;
			text-transform: uppercase;
			.flex-display();
			.justify-content(space-between);
			.align-items(center);

			> li {

				> a {
					color: #fff;
					padding: 15px 5px;
					position: relative;
					white-space: nowrap;
					display: inline-block;
					text-decoration: none;

					i {
						margin-left: 8px;
					}

					&:hover {
						color: #fff;
						text-decoration: none;

						span {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	&__fluid {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;

		&_slider {

			a {
				color: #fff;
				padding: 15px 5px;
				position: relative;
				white-space: nowrap;
				display: inline-block;
				text-decoration: none;

				i {
					margin-left: 8px;
				}

				&:hover {
					color: #fff;
					text-decoration: none;

					span {
						text-decoration: underline;
					}
				}
			}
		}
	}

	&__arrow {
		top: 0;
		color: #fff;
		width: 50px;
		height: 50px;
		z-index: 300;
		padding: 10px 0;
		display: block;
		font-size: 0;
		line-height: 0;
		position: absolute;

		a {
			padding: 8px 0;
			width: 30px;
			height: 30px;
			color: #0792fe;
			cursor: pointer;
			font-size: 14px;
			line-height: 14px;
			background: #fff;
			text-align: center;
			display: inline-block;
			text-decoration: none;
			.border-radius(50%);

			&:hover {
				color: #0792fe;
				text-decoration: none;
			}
		}

		&_prev {
			left: -5px;
		//	padding-left: 15px;
			text-align: left;
			background: rgb(7,146,254);
			background: linear-gradient(90deg, rgba(7,146,254,1) 17%, rgba(7,146,254,0.5) 66%);
		}

		&_next {
			right: -5px;
		//	padding-right: 15px;
			text-align: right;
			background: rgb(7,146,254);
			background: linear-gradient(270deg, rgba(7,146,254,1) 17%, rgba(7,146,254,0.5) 65%);
		}
	}

	@media (min-width: @screen-md-min) {
		display: block;
	}

	@media (min-width: @screen-lg-min) {

	}

	@media (min-width: @screen-xl-min) {

		&__fluid {
			opacity: 0;
			z-index: -1;
			visibility: hidden;
		}

		&__line {
			display: block;
		}
	}
}