.side_contact {
	bottom: 100px;
	width: 300px;
	z-index: 300;
	padding: 30px;
	margin-left: -30px;
	background: #fff;
	position: fixed;
	.box-shadow(0px 20px 30px 0px rgba(0, 0, 0, 0.15));

	&__close {
		top: 10px;
		right: 10px;
		z-index: 50;
		width: 20px;
		height: 20px;
		display: block;
		cursor: pointer;
		position: absolute;


		&:after,
		&:before {
			top: 50%;
			left: 50%;
			width: 14px;
			height: 2px;
			content: '';
			display: block;
			position: absolute;
			background: #242d2e;
			margin: -1px 0 0 -7px;
		}

		&:after {
			.rotate(45deg);
		}

		&:before {
			.rotate(-45deg);
		}
	}

	&__title {
		color: #232530;
		font-weight: 700;
		font-size: 2.1rem;
		line-height: 2.4rem;
		margin-bottom: 25px;
	}

	&__content {
		margin: 0 0 15px 0;
		padding: 0;
		color: #666a7a;
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 2.6rem;
		list-style: none;

		> li {
			margin-bottom: 5px;
			background-position: 0 6px;
			background-repeat: no-repeat;

			strong {
				color: #272727;
				font-weight: 500;
				padding-left: 17px;
				display: inline-block;
			}

			a {
				color: #5291fb;
				text-decoration: none;

				&:hover {
					color: #5291fb;
					text-decoration: none;
				}
			}

			&.contact_address {
				background-image: url("../img/icon__placemark.png");
			}

			&.contact_phone {
				background-image: url("../img/icon__phone.png");
			}

			&.contact_emain {
				background-position: 0 9px;
				background-image: url("../img/icon__email.png");
			}
		}
	}

	&__buttons {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 10px;
		}

		.btn {
			width: 100%;
		}
	}
}