.side_box {
	padding: 20px 30px;
	background: #f6f6f6;
	margin-bottom: 15px;
	.border-radius(4px);

	&__title {
		color: #232530;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		margin-bottom: 8px;
	}

	&__nav {
		margin: 0;
		padding: 0;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		list-style: none;

		> li {
			margin-bottom: 3px;

			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #232530;
				text-decoration: none;
				.flex-display();
				.align-items(flex-start);
				.justify-content(space-between);

				strong {
					font-weight: 500;
					display: inline-block;
				}

				span {
					padding-left: 5px;
					display: inline-block;
				}

				&:hover {
					color: #0792fe;
					text-decoration: none;
				}
			}

			&.active {

				a {
					color: #0792fe;
					font-weight: 600;

					strong {
						font-weight: 600;
					}
				}
			}
		}
	}

	&__links {
		margin: 0;
		padding: 0;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2.4rem;
		list-style: none;

		> li {

			a {
				color: #727272;
				text-decoration: none;

				&:hover {
					color: #727272;
					text-decoration: underline;
				}
			}
		}
	}
}

.aside {
	overflow: hidden;
	background: #f6f6f6;
	.border-radius(6px);

	&__header {
		color: #fff;
		height: 50px;
		padding: 5px;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2rem;
		background: #0792fe;
		text-align: center;
		.flex-display();
		.flex-direction(column);

		span {
			display: block;
			margin: auto 0;
		}
	}

	&__content {
		padding: 20px 30px;
	}
}

.side_weather {
	display: block;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}