.special {

	&_content {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			padding: 20px;
			border-bottom: 1px solid #f0f0f0;
		}
	}

	&__item {
		color: #101010;
		display: block;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.6rem;
		text-decoration: none;

		&:hover {
			color: #101010;
			text-decoration: none;
		}

		&_image {
			display: block;
			overflow: hidden;
			margin-bottom: 10px;
			.border-radius(6px);
		}

		&_title {
			font-weight: 600;
		}

		&_info {

		}
	}
}