// Color system

@color-white:               #fff;
@color-black:               #000;
@color-gray:                #212529;

@body-bg:                   #fff;
@body-color:                #232323;

@color-blue:                #0792fe;




// Fonts

@font-family-base:          'SF UI Display', Arial, sans-serif;
@font-family-head:          'SF UI Display', Arial, sans-serif;
@font-family-second:        'Museo Sans Cyrl', Arial, sans-serif;

@font-size-reset:           10px;

@font-size-base:            1.5rem;
@font-size-lg:              (@font-size-base * 1.25);
@font-size-sm:              (@font-size-base * .875);

@font-weight-light:         300;
@font-weight-normal:        400;
@font-weight-bold:          700;

@font-weight-base:          @font-weight-normal;
@line-height-base:          normal;

// Page




@screen-xs-min:                 0;
@screen-sm-min:                 768px;
@screen-md-min:                 1024px;
@screen-lg-min:                 1230px;
@screen-xl-min:                 1830px;


@screen-xs-max:              (@screen-sm-min - 0.1);
@screen-sm-max:              (@screen-md-min - 0.1);
@screen-md-max:              (@screen-lg-min - 0.1);
@screen-lg-max:              (@screen-xl-min - 0.1);


@container-sm:               750px;
@container-md:               990px;
@container-lg:               1200px;
@container-xl:               1800px;




