.breadcrumb {

	&__mobile {
		display: block;
		margin-bottom: 15px;

		a {
			color: #232323;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 2rem;
			display: inline-block;
			text-decoration: none;
			position: relative;

			i {
				top: -2px;
				font-size: 1rem;
				margin-right: 5px;
				position: relative;
			}

			&:hover {
				color: #232323;
				text-decoration: none;
			}
		}
	}

	&__desktop {
		display: none;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-bottom: 25px;
		padding-bottom: 20px;
		border-bottom: 1px solid #ebebeb;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			.flex-display();
			.flex-wrap(wrap);
			.align-items(center);


			li {
				color: #232530;

				&:after {
					content: '\f105';
					color: #c1c1c1;
					padding: 0 10px;
					font-family: FontAwesome;
				}

				a {
					color: #c1c1c1;
				}

				span {
					font-weight: 600;
				}

				&:last-child {

					&:after {
						display: none;
					}
				}
			}
		}
	}

	@media (min-width: @screen-md-min) {

		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;
		}
	}
}