.btn {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 7px 20px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: #cbcbcb;
	display: inline-block;
	vertical-align: middle;
	.border-radius(3px);
	.transition(.2s);

	&:hover {
		color: #fff;
		background: #272727;
		text-decoration: none;
		.transition(.2s);
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	@media (min-width: @screen-md-min) {
		font-size: 1.7rem;
		padding: 15px 30px;
		.border-radius(25px);
	}
}

.btn_blue {
	background: #5291fb;

	&:hover {
		background: #272727;
	}
}

.btn_sm {

	@media (min-width: @screen-md-min) {
		font-size: 1.3rem;
		padding: 10px 30px;
		font-weight: 500;
		text-transform: uppercase;
		.border-radius(20px);
	}
}

.btn_border {

	color: #b3b3b3;
	outline: none;
	position: relative;
	cursor: pointer;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 10px 30px;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 20px;
	border: 1px solid #dcdce0;
	.border-radius(5px);
	.transition(.2s);

	&:hover {
		color: #232323;
		background: transparent;
		text-decoration: none;
		border-color: #232323;
		.transition(.2s);
	}

	&:focus,
	&.focus {
		outline: 0;
	}
}